<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

Ime: <%= @contact.name %>
Prezime: <%= @contact.surname %>
Naziv firme: <%= @contact.business %>
Email: <%= @contact.email %>
Website: <%= @contact.website %>
Poruka: <%= @contact.message %>
Budget: <%= @contact.budget %>
</body>







</html>