<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
<ul>

<li> Ime: <%= @contact.name %> </li>
<li> Prezime: <%= @contact.surname %> </li>
<li> Naziv firme: <%= @contact.business %> </li>
<li> Email: <%= @contact.email %> </li>
<li> Website: <%= @contact.website %> </li>
<li> Poruka: <%= @contact.message %> </li>
<li> Budget: <%= @contact.budget %> </li>

</ul>
</body>







</html>