<%= render 'shared/navbar_white' %>
<div class="container" style="padding-top:150px;padding-bottom: 150px;">
<% title 'Blog' %>

<p id="notice"><%= notice %></p>

<h1>Blogs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Published</th>
      <th>Published at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.title %></td>
<<<<<<< HEAD
        <td><%= blog.body %></td>
=======
        <td><%= blog.description %></td>
>>>>>>> ae76c3ba17f899b7f58246484ec22dd14fd3563e
        <td><%= blog.published %></td>
        <td><%= blog.published_at %></td>
        <td><%= link_to 'Show', blog %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>
