<%= title @blog.title %>
<%= description @blog.description1 %>

<%= render 'shared/navbar_white' %>
<div class="container" style="padding-top:150px;padding-bottom: 150px;">

<% if @blog.photos.attached? %>
  <%= cl_image_tag @blog.photos.second.key, :class => "slika_blog_show" %>
<% end %>
<p>
  <strong>Published at:</strong>
  <%= @blog.published_at.strftime("%B %d %Y, %l:%M%P") %>
</p>

<p class="blog_ime">
  <%= @blog.title %>
</p>

<p class="blog_desc">
  <%= @blog.description1 %>
</p>


<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %> |

<% if policy(@blog).destroy? %>
  <%= link_to "Delete", blog_path(@blog), method: :delete, data: { confirm: "Are you sure you want to delete this story?"} %>
<% end %>
</div>

