<%= render 'shared/navbar_white_about' %>

<div class="section_2" style="padding-bottom: 90px; padding-top:80px;">
  <div class="container">
    <h1 class="home_heading_black box animate fadeInUp">Learning & Evolving</h1>
    <p class="home_since_black box animate fadeInUp">since 1997</p>
    <p class="section_tri_para box animate fadeInUp" style="margin-top: 45px;">We started out as a small traditional marketing agency back in 1997. Since then, we have adapted to the evolving technologies and got into the digital landscape. We have also gained a lot of experience and gathered 100 advertising professionals and four agencies under one roof. Over the course of the past 24 years we have built an impressive set of skills and became an agency that has got what it takes to drive sales and reach the targets set by any business or organisation.</p>
  </div>
</div>
<!-- <div class="section_nasa_slika">
  <div class="nasaslika">
    <div class="section_slika_cont">
      <div class="container">
        <div class="d-flex align-items-end">
          <p class="slika_tekst box animate fadeInUp">We drive sales<br>and this is the team<br>that drives us</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section_text_za_carer">
  <div class="container" style="padding-bottom: 60px">
    <p class="section_tri_para" style="margin-top: 45px;">We started as a small traditional marketing agency in 1997. Since then, we are evolving in digital and interactive times. We gained a lot of experience and very quickly gathered 100 employed advertising professionals and 4 agencies under one roof. Through these 24 years we build an impressive skillset and become an agency that has everything that is necessary to improve sales and achieve the goals of any business or organization.</p>
  </div>
</div>
-->

<div class="section_12" style="display: none;">
  <div class="container">
    <div class="section_12_row d-flex row justify-content-around">
        <div class="section_12_row_klijent col-lg-4 col-md-6 col-sm-12">
          <%= image_tag 'slika_tm.png',:class => "slika_tm", :style => "" %>
          <p class="ime">Ejub Kučuk</p>
          <p class="role">CEO</p>
        </div>
      <div class="section_12_row_klijent col-lg-4 col-md-6 col-sm-12">
        <%= image_tag 'slika_tm.png', :class => "slika_tm",:style => "" %>
        <p class="ime">Đejla Mahmutović</p>
        <p class="role">Account Director</p>
      </div>
      <div class="section_12_row_klijent col-lg-4 col-md-6 col-sm-12">
        <%= image_tag 'slika_tm.png', :class => "slika_tm", :style => "" %>
        <p class="ime">Džana Muharemović</p>
        <p class="role">Account Manager</p>
      </div>
    </div>

    <div class="section_12_row d-flex row">
      <div class="section_12_row_klijent col-lg-4 col-md-6 col-sm-12">
        <%= image_tag 'slika_tm.png',:class => "slika_tm", :style => "" %>
        <p class="ime">Ermin Sočo</p>
        <p class="role">Media Director</p>
      </div>
      <div class="section_12_row_klijent col-lg-4 col-md-6 col-sm-12">
        <%= image_tag 'slika_tm.png', :class => "slika_tm",:style => "" %>
        <p class="ime">Kenan Hadžić</p>
        <p class="role">Head of digital</p>
      </div>
      <div class="section_12_row_klijent col-lg-4 col-md-6 col-sm-12">
        <%= image_tag 'slika_tm.png', :class => "slika_tm", :style => "" %>
        <p class="ime">Tarik Hodžić</p>
        <p class="role">Art Director</p>
      </div>
    </div>

    <div class="section_12_row d-flex row justify-content-center">
      <div class="section_12_row_klijent col-lg-4 col-md-6 col-sm-12">
        <%= image_tag 'slika_tm.png', :class => "slika_tm",:style => "" %>
        <p class="ime">Armin Numanović</p>
        <p class="role">Graphic designer</p>
      </div>
      <div class="section_12_row_klijent col-lg-4 col-md-6 col-sm-12">
        <%= image_tag 'slika_tm.png', :class => "slika_tm", :style => "" %>
        <p class="ime">Tarik Bičo</p>
        <p class="role">Videographer</p>
      </div>
      <div class="section_12_row_klijent col-lg-4 col-md-6 col-sm-12">
        <%= image_tag 'slika_tm.png',:class => "slika_tm", :style => "" %>
        <p class="ime">Amina Muslić</p>
        <p class="role">Financial Manager</p>
      </div>
    </div>

    <div class="section_12_row d-flex row justify-content-center">
      <div class="section_12_row_klijent col-lg-4 col-md-6 col-sm-12">
        <%= image_tag 'slika_tm.png', :class => "slika_tm",:style => "" %>
        <p class="ime">Ajla Lačević</p>
        <p class="role">Social Media Manager</p>
      </div>
      <div class="section_12_row_klijent col-lg-4 col-md-6 col-sm-12">
        <%= image_tag 'slika_tm.png', :class => "slika_tm", :style => "" %>
        <p class="ime">Arijana Trle</p>
        <p class="role">Social Media Manager</p>
      </div>
      <div class="section_12_row_klijent col-lg-4 col-md-6 col-sm-12">
        <%= image_tag 'slika_tm.png',:class => "slika_tm", :style => "" %>
        <p class="ime">Adisa Ošijan</p>
        <p class="role">Social Media Manager</p>
      </div>
    </div>

    <div class="section_12_row d-flex row">
      <div class="section_12_row_klijent col-lg-4 col-md-6 col-sm-12">
        <%= image_tag 'slika_tm.png', :class => "slika_tm",:style => "" %>
        <p class="ime">Amela Adžajlić</p>
        <p class="role">Social Media Assistent</p>
      </div>
      <div class="section_12_row_klijent col-lg-4 col-md-6 col-sm-12">
        <%= image_tag 'slika_tm.png', :class => "slika_tm", :style => "" %>
        <p class="ime">Ahmed Kučuk</p>
        <p class="role">Full-stack Developer</p>
      </div>
      <div class="section_12_row_klijent col-lg-4 col-md-6 col-sm-12">
        <%= image_tag 'slika_tm.png', :class => "slika_tm", :style => "" %>
        <p class="ime">Buduće kolege</p>
        <p class="role">Pozicija</p>
      </div>
    </div>

  </div>
</div>

<div class="section_career_red">
  <div class="container">
    <div class="d-flex row align-items-center justify-content-between" style="padding-bottom: 70px; padding-top:80px;">
      <div class="col-lg-4 col-md-12 col-sm-12 reveal">
        <p class="carer_since" style="">WE SHARE SAME VALUES</p>
        <h1 class="carer_heading" style="padding-top: -50px;">Core<br>Values</h1>
        <p class="carer_para">We follow the journey of your customers and offer a solution for each of the stages of that journey. We help you attract customers, create more effective strategies, increase conversions, and increase your return on investment (ROAS).</p>
      </div>
      <div class="col-lg-7 col-md-12 col-sm-12 align-items-center reveal" >
        <div class="carer_picture_text d-flex row">
          <div class="carer_picture col-lg-3 col-sm-3">
            <%= image_tag 'carer4.png',:class => "slika_carer", :style => "" %>
          </div>
          <div class="text_carer col-lg-9 col-sm-9">
            <p class="carer_since" style="">We focus on sales</p>
            <p class="carer_para">We create campaigns that sell your products and services with clear and quantifiable results.</p>
          </div>
        </div>
        <div class="carer_picture_text d-flex row">
          <div class="carer_picture col-lg-3 col-sm-3">
            <%= image_tag 'carer3.png',:class => "slika_carer", :style => "" %>
          </div>
          <div class="text_carer col-lg-9 col-sm-9">
            <p class="carer_since" style="">Strategic approach</p>
            <p class="carer_para">Our work is based on serious research and proven methodology that ensure you get the results you are looking for.</p>
          </div>
        </div>
        <div class="carer_picture_text d-flex row">
          <div class="carer_picture col-lg-3 col-sm-3">
            <%= image_tag 'carer2.png',:class => "slika_carer", :style => "" %>
          </div>
          <div class="text_carer col-lg-9 col-sm-9">
            <p class="carer_since" style="">We never stop learning</p>
            <p class="carer_para">We are learning and expanding our knowledge of modern marketing techniques and channels every day.</p>
          </div>
        </div>
        <div class="carer_picture_text d-flex row">
          <div class="carer_picture col-lg-3 col-sm-3">
            <%= image_tag 'carer1.png',:class => "slika_carer", :style => "" %>
          </div>
          <div class="text_carer col-lg-9 col-sm-9">
            <p class="carer_since" style="">Massive experience</p>
            <p class="carer_para">The reputation we have built up over the past 24 years reflects our commitment to you and your business.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="section_2" style="padding-bottom: 10px;">
  <div class="container">
    <h1 class="home_heading_black_2">Our Office</h1>
    <p class="section_tri_para_2" style="margin-top: 45px;">We are based in Sarajevo, Bosnia and Herzegovina. Our organisational culture allows us to work with clients around the world and maintain cost-efficiency.</p>
  </div>
</div>
<%= image_tag 'NasaSlika.png', :style => "width:100%; height:100vh;" %> -->

<div class="section_2" style="padding-bottom: 10px;">
  <div class="container">
    <h1 class="home_heading_black_2 reveal">Our clients</h1>
    <p class="section_tri_para_2 reveal" style="margin-top: 45px;">We helped hundreds of brands to find new friends.</p>
<a class="button_1_div  inline-block d-flex row align-items-center justify-content-center reveal" href="/clients" style="text-decoration: none; margin-top: 30px;margin-right: 0; margin-left: 0;  padding-left:0px;" >
        <div>
          <%= image_tag 'strelica.png', :style => "width:30px; margin-right:10px;" %>
        </div>
        <div>
          Learn more
        </div>
    </a>
  </div>
</div>


<!--
<%= image_tag 'NasaSlika.png', :style => "width:100%; height:100vh;" %>
 -->

<%= render 'shared/footer-contact' %>

