<%= render 'shared/navbarmobile' %>
<%= render 'shared/navbar_white_services' %>


<% title 'AI Automatization Agency !' %>
<% description 'Share your vision with us and our eCommerce development team will do the rest! Our full development service is at your disposal!' %>
<% keywords 'AI Automatization Chatbots AI-Agent' %>


      <div class="cyber-col-web-3" style="padding-top:180px; padding-bottom: 100px;">
        <div class="container">
        <div class="d-flex row align-items-center" style="vertical-align: top;">
          <div class="col-lg-6">
            <h1 class="services_h2_bigger u--zoomIn"><span style="color:#000;">You decided to automate the conversation between you and the client with an</span> AI Agent? </h1>
            <p class="services_p2 u--zoomIn" style="padding-bottom: 20px;">We're here to help you grow by eliminating repetitive tasks, saving time and money, and modernizing your business so you can focus on growing your company.</p>
            <div class="fol-dugme u--zoomIn"><a class="button_cta_normal" href="/contacts">Get your AI-Agent</a></div>
          </div>
          <div class=" col-lg-6" >
            <div class="mob-comme" style="margin-top: 10px;">
              <%= image_tag "https://mita.ba/wp-content/uploads/2023/10/Qatbot.png", class: "section_float" ,id: "video_animation", alt: "eCommerce Web development" %>
            </div>
          </div>
        </div>
      </div>
    </div>
<div class="cyber-col-web-7 services-div-main" style="padding-bottom:10px; padding-top:0px;">
  <div class="container">
    <div class="d-flex row align-items-center justify-content-center" style="vertical-align: top;">
      <div class="d-flex row align-items-center justify-content-center" style="">
        <div class="col-lg-6">
          <div class="container" style="position: relative; margin:50px 0;"><video style="width:100% ;" class="elementor-video inited mtz-vlc-ihack" src="https://mita.ba/wp-content/uploads/2023/10/Untitled_Artwork-2.mov" autoplay="" loop="" muted="muted" playsinline="" controlslist="nodownload"></video></div>
        </div>
        <div class="col-lg-6 d-flex row">
      <h2 class="services_h2_bigger u--zoomIn" style="padding-top:0px; padding-bottom: 10px; color: #000;">What is AI Agent? </h2>
           <p class="services_p2  u--zoomIn" style="padding-top:10px;"><strong>AI Agent/Chatbot</strong> is a computer program that simulates human conversations using AI technology (Artificial Intelligence). Basically, a chatbot enables correspondence between a human and a computer. Interaction takes place through written messages.
<br><br>
AI Agents generate more meetings and help generate leads.
      </p>
        <!-- <div class="step-1 col-lg-6">
          <%= image_tag "https://mita.ba/wp-content/uploads/2023/09/1_icon_seo.png", class: "icons-seoo", alt: "Responsive icon" %>
          <p class="services_p2"> <strong>1.</strong> If you don't respond within the first five minutes of a customer contacting you, you're reducing your chances of converting them into leads by 400%. Chatbot answers for you in seconds.</p>
        </div>
        <div class="step-1 col-lg-6">
          <%= image_tag "https://mita.ba/wp-content/uploads/2023/09/13_icon_seo.png", class: "icons-seoo", alt: "Responsive icon" %>
          <p class="services_p2"> <strong>2.</strong> 73% of people prefer to talk to companies via live chat, while 56% would rather send you a message than call customer support</p>
        </div> -->
      </div>
      </div>


    </div>
  </div>
</div>
<div class="cyber-col-web-6 services-div-main" style="padding-bottom:10px; padding-top:0px;">
  <div class="container">
    <div class="d-flex row align-items-center justify-content-center" style="vertical-align: top;">
      <div class="d-flex row align-items-center justify-content-center" style="">
        <div class="col-lg-6 d-flex row">
      <h2 class="services_h2_bigger u--zoomIn" style="padding-top:0px; padding-bottom: 10px; color: #000;">What is AI Agent? </h2>
           <p class="services_p2  u--zoomIn" style="padding-top:10px;"><strong>AI Agent/Chatbot</strong> is a computer program that simulates human conversations using AI technology (Artificial Intelligence). Basically, a chatbot enables correspondence between a human and a computer. Interaction takes place through written messages.
<br><br>
AI Agents generate more meetings and help generate leads.
      </p>
        <!-- <div class="step-1 col-lg-6">
          <%= image_tag "https://mita.ba/wp-content/uploads/2023/09/1_icon_seo.png", class: "icons-seoo", alt: "Responsive icon" %>
          <p class="services_p2"> <strong>1.</strong> If you don't respond within the first five minutes of a customer contacting you, you're reducing your chances of converting them into leads by 400%. Chatbot answers for you in seconds.</p>
        </div>
        <div class="step-1 col-lg-6">
          <%= image_tag "https://mita.ba/wp-content/uploads/2023/09/13_icon_seo.png", class: "icons-seoo", alt: "Responsive icon" %>
          <p class="services_p2"> <strong>2.</strong> 73% of people prefer to talk to companies via live chat, while 56% would rather send you a message than call customer support</p>
        </div> -->
      </div>
        <div class="col-lg-6">
          <div class="container" style="position: relative; margin:50px 0;"><video style="width:100% ;" class="elementor-video inited mtz-vlc-ihack" src="https://mita.ba/wp-content/uploads/2023/10/Untitled_Artwork-2.mov" autoplay="" loop="" muted="muted" playsinline="" controlslist="nodownload"></video></div>
        </div>
      </div>


    </div>
  </div>
</div>

   <div class="cyber-col-web-3" style="padding-top:100px; padding-bottom: 70px;">
        <div class="container">
        <div class="d-flex row align-items-center" style="vertical-align: top;">
          <div class="col-lg-6">
            <h1 class="services_h2_bigger u--zoomIn"><span style="color:#000;">Key </span> Benefits: </h1>
            <p class="services_p2 u--zoomIn" style="padding-bottom: 20px;"><strong>24/7</strong> Customer Support
<br><br><strong>Better and faster</strong> Customer Support
<br><br><strong>Solving</strong> a large number of user queries
<br><br><strong>Help with</strong> identical products or services
<br><br><strong>Improving</strong> organizational efficiency
<br><br><strong>Automating</strong> repetitive tasks
<br><br><strong>Personalization</strong> of communications</p>
            <div class="fol-dugme u--zoomIn"><a class="button_cta_normal" href="/contacts">Get your AI-Agent</a></div>
          </div>
          <div class=" col-lg-6" >
            <div class="mob-comme" style="margin-top: 10px;">
              <%= image_tag "https://mita.ba/wp-content/uploads/2023/10/iPhone-M123ockup-Flying-580x1024.png", class: "section_float" , style: "width:80%;" ,id: "video_animation", alt: "eCommerce Web development" %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="cyber-col-web-7" style="padding-top:10px; padding-bottom: 120px;">
        <div class="container">
        <div class="d-flex row align-items-center" style="vertical-align: top;">
          <div class=" col-lg-6" >
            <div class="mob-comme" style="margin-top: 10px;">
              <%= image_tag "https://mita.ba/wp-content/uploads/2023/10/dasd-1024x724.png", class: "section_float" ,id: "video_animation", alt: "eCommerce Web development" %>
            </div>
          </div>
          <div class="col-lg-6">
            <h1 class="services_h2_bigger u--zoomIn">AI Agents <span style="color:#000;">of the new generation that speak for themselves</span></h1>
            <p class="services_p2 u--zoomIn" style="padding-bottom: 20px;">

<strong>Connect data from any source -</strong> Effortlessly load data from files, web pages or any database into your AI agent.
<br><br><strong>Deliver to users in seconds -</strong> We host all your workflows ensuring minimal latency.
<br><br><strong>We Integrate an AI Agent into your website in 1 hour -</strong> to seamlessly launch your application in a production environment.</p>
            <div class=" fol-dugme u--zoomIn"><a class="button_cta_normal" href="/contacts">Get your AI-Agent</a></div>
          </div>
        </div>
      </div>
    </div>

      <div class="cyber-col-web-6" style="padding-top:10px; padding-bottom: 120px;">
        <div class="container">
        <div class="d-flex row align-items-center" style="vertical-align: top;">
          <div class="col-lg-6">
            <h1 class="services_h2_bigger u--zoomIn">AI Agents <span style="color:#000;">of the new generation that speak for themselves</span></h1>
            <p class="services_p2 u--zoomIn" style="padding-bottom: 20px;">

<strong>Connect data from any source -</strong> Effortlessly load data from files, web pages or any database into your AI agent.
<br><br><strong>Deliver to users in seconds -</strong> We host all your workflows ensuring minimal latency.
<br><br><strong>We Integrate an AI Agent into your website in 1 hour -</strong> to seamlessly launch your application in a production environment.</p>
            <div class=" fol-dugme u--zoomIn"><a class="button_cta_normal" href="/contacts">Get your AI-Agent</a></div>
          </div>
          <div class=" col-lg-6" >
            <div class="mob-comme" style="margin-top: 10px;">
              <%= image_tag "https://mita.ba/wp-content/uploads/2023/10/dasd-1024x724.png", class: "section_float" ,id: "video_animation", alt: "eCommerce Web development" %>
            </div>
          </div>
        </div>
      </div>
    </div>

<div class="services-new" style="padding-top: 0px;">
  <div class="container">
    <div class="d-flex row align-items-center" style="vertical-align: top;">
      <div class="col-lg-12" style="padding-bottom: 10px;">

        <h2 class="services_p2 reveal" style="text-align:center; font-size:36px;"><strong>
          AI Agents in industries
        </strong>
        </h2>
        <p class="services_p2 reveal" style="text-align:center;">Finding your business in one of these industries? <strong>Don't wait any longer!</strong> Improve your business and request your personalized AI Agent.</p>
          <div class="container d-flex row justify-content-center align-items-center reveal" style=" text-align: center; padding-top:20px;">
            <div class="bez col-lg-3">
              <a class="card2 ">
                <%= image_tag "https://mita.ba/wp-content/uploads/2023/09/7_icon_seo.png", class: "icons-seoo", alt: "Responsive icon" %>
                <p class="services_p2">Fast and responsive and on all devices.</p>
              </a>
            </div>
            <div class="bez col-lg-3">
              <a class="card2">
                <%= image_tag "https://mita.ba/wp-content/uploads/2023/09/3_icon_seo.png", class: "icons-seoo", alt: "Design icon" %>
                <p class="services_p2">Beautifully designed and optimised for conversions.</p>
              </a>
            </div>
            <div class="bez col-lg-3">
              <a class="card2">
                <%= image_tag "https://mita.ba/wp-content/uploads/2023/09/23_icon_seo.png", class: "icons-seoo", alt: "SEO icon" %>
                <p class="services_p2">SEO optimised to be ranked higher on Google</p>
              </a>
            </div>
            <div class="bez col-lg-3">
              <a class="card2">
                <%= image_tag "https://mita.ba/wp-content/uploads/2023/09/23_icon_seo.png", class: "icons-seoo", alt: "SEO icon" %>
                <p class="services_p2">SEO optimised to be ranked higher on Google</p>
              </a>
            </div>
          </div>

          <h2 class="services_p2 reveal" style="text-align:center; font-size:36px; padding-top:100px;"><strong>
          We use the most modern technology!
        </strong>
        </h2>
        <p class="services_p2 reveal" style="text-align:center;">We use the most modern technology and follow world trends so that you don't have to worry! Our Developers are experts in Artificial Intelligence.</p>
        <div class="bez col-lg-12">
            <%= image_tag "https://mita.ba/wp-content/uploads/2023/10/Untitled-21.png.webp", class: "image", alt: "SEO icon" %>

        </div>


          <div class="d-flex row" style="margin-top: 100px; margin-bottom: 80px;">
            <div class="col-lg-12">
              <h3 class="services_p2 reveal" style="font-size:40px; text-align: center;"><strong> FAQ</strong></h3>
            </div>
            <div class="faqsss col-lg-12 reveal">
              <div class="c">
                <input type="checkbox" id="faq-1">
                <h3><label for="faq-1">What is AI Agent?</label></h3>
                <div class="p">
                  <ul class="services_p2 b " >
                    <li>▪ <strong>Google Analytics</strong>  to track all changes and analytics in real time.</li>
                    <li>▪ <strong>Google Tag Manager</strong>  installed & configured. With this functionality, you can track conversions and find out which marketing channels bring you the most results.</li>
                    <li>▪ <strong>Facebook pixel</strong>  installation to track advertising performance.</li>
                    <li>▪ Selecting and advice on shipping providers, terms and rates setup & configuration. 53% of online customers expect free and fast delivery (within 24 hours). We will create an automated delivery system. Everything after the purchase will run smoothly without the extensive involvement of human labour.</li>
                    <li>▪ <strong>PayPal, Stripe, Klarna, WooCommerce, Direct</strong>  or any other payment integration setup.</li>
                    <li>▪ Automated abandoned checkout emails to recover sales and bring customers back.</li>
                    <li>▪ Entry forms and CTA buttons to collect emails from subscribers.</li>
                    <li>▪ Secure & automated daily backups for peace of mind.</li>
                    <li>▪ <strong>Fast,</strong> helpful customers support.</li>
                    <li>▪ <strong>Order management</strong>  and product uploading training.</li>
                    <li>▪ Advise on <strong>Privacy and Cookie Policies</strong>  according to GDPR law.</li>
                    <li>▪ Advice on <strong>Easy Return Policy:</strong>  33% of online customers decide about a purchase based on the possibility of simply returning the product if unsatisfied. We will create a system for you that merely works and does not require a large workforce.</li>
                  </ul>
                  </div>
              </div>
              <div class="c">
                <input type="checkbox" id="faq-2">
                <h3><label for="faq-2">What are AI Agents used for?</label></h3>
                <div class="p">
                  <ul class="services_p2 ">
                    <li><strong>The development phase is the most intensive part of the process. Here are the steps we will follow to develop the web store<br><br></strong></li>
                    <li>▪ Creating and <strong>loading static content</strong></li>
                    <li>▪ Creating <strong>categories and taxonomies</strong></li>
                    <li>▪ <strong>Product entry and product options,</strong> technical specifications</li>
                    <li>▪ <strong>Plugins</strong> - The plugins are one of the most powerful aspects of e-commerce platforms. The ability to extend the functionality of the platforms without spending time on programming custom solution is fantastic. We use them for SEO improvement, conversion tracking, speed optimization, adding contact forms, collecting emails, etc. There are thousands of plugins available and the key is to know which ones work best for you.</li>
                    <li>▪ <strong>Loading speed optimization</strong>The web store must load in under 3 seconds at the average rate of a 3G mobile network. We pay special attention to optimisation for search engines to rank your web page better</li>
                  </ul>
                </div>
              </div>
              <div class="c">
                <input type="checkbox" id="faq-3">
                <h3><label for="faq-3">How can AI Agent Benefit my business?</label></h3>
                <div class="p">
                  <ul class="services_p2 ">
                    <li><strong>DSP environment and coding according to the highest standards are crucial to avoid major problems. During the creation of the web store, we use three different types of servers:<br><br></strong></li>
                    <li>▪ <strong>The DEVELOPMENT SERVER</strong> is for the first version of the web store and before the launch: coding, installation of the necessary plugins, and customization of the theme. After the website gets its outlines and is filled with the demo content, we are going to the next level.</li>
                    <li>▪ <strong>The STAGING SERVER</strong> is a locked environment for the administrator and team working on the web store. All future changes, even after the launch, will be done on a staging server, and testing (QA) before being published on the production server.</li>
                    <li>▪ <strong>The PRODUCTION SERVER</strong> is the live website publicly available to all users. It is crucial to host the web store on reliable and fast cloud systems with optimized costs so you do not pay more than you need.</li>
                  </ul>
                </div>
              </div>
              <div class="c">
                <input type="checkbox" id="faq-4">
                <h3><label for="faq-4">What is pricing for AI Agents?</label></h3>
                <div class="p">
                  <ul class="services_p2 ">
                    <li><strong>Before launching your online store we will:<br><br></strong></li>
                    <li>▪ <strong>Check twice security</strong> - Personal data are crucial, so we often use free CDN-type products that protect against threats like SQL injection attacks and identity theft. We take care of website performance and speed up load times using its multiple data centres worldwide.</li>
                    <li>▪ <strong>Provide QA testing </strong> - The site is ready for testing when all its visual elements and content (products, prices, categories, blogs, texts) are loaded. We ensure proper QA testing to confirm that all web page links work and that the page can load correctly on all browsers and devices. After launch, testing and optimisation do not end. We use specialised tools to investigate how visitors use the web store, what parts they click on and what we need to change.</li>
                    <li>▪ <strong>Fix and clean all bugs</strong>- Test functionalities and review the page meta titles and descriptions. Even how the words are arranged in the meta title can affect a page's performance on search engines. We must check all payment methods and make test purchases.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        <div class="reveal services_p2" style="line-height:40px;"><br><a class="button_cta_normal" href="/contacts">Send Us</a> the inquiry or idea about the AI Agent you want to launch, and we will send you the offer or contact you ASAP.</div>
      </div>
    </div>
  </div>
</div>



<div class="work-catalog">
  <div class="container">
    <h6 class="heading_black_webs reveal" style="margin-bottom: 50px; margin-top: 60px;">Check out some of our AI Automatization works:</h6>
    <div class="d-flex row justify-content-center reveal">
      <div class="colecommerce col-lg-2 col-md-3 col-sm-6" >
        <a class="link_to" target="_blank" href="https://www.mita.agency/stories/we-launched-the-mobello-web-shop-for-the-german-market">
          <%= image_tag "https://imagedelivery.net/kbdeQbZSIKXp-ZjvXBIJDQ/c3887506-27c6-49b9-d4f0-dfcb8935d500/public", class: "our-work-picture", alt: "Mobello mobile Web development" %>
        </a>
      </div>
      <div class="colecommerce col-lg-2 col-md-3 col-sm-6">
        <a class="" target="_blank" href="https://www.mita.agency/stories/we-designed-a-website-for-smartesla-holding-a-company-that-cuts-your-electricity-bill-in-half">
          <%= image_tag "https://mita.ba/wp-content/uploads/2023/09/Picture-Ispod-Geom-Mita.jpg", class: "our-work-picture", alt: "Smartesla mobile web development" %>
        </a>
      </div>
      <div class="colecommerce col-lg-2 col-md-3 col-sm-6">
        <a class="" target="_blank" href="https://www.mita.agency/stories/website-for-a-company-that-makes-eco-friendly-cards">
          <%= image_tag "https://mita.ba/wp-content/uploads/2023/09/bezd.jpg", class: "our-work-picture", alt: "Sustain a card mobile web development" %>
        </a>
      </div>


    </div>
  </div>
</div>
