<div class="section_2" style="padding-top: 80px;">
  <div class="container">
    <h1 class="home_heading_black_per box animate fadeInUp">Some of the brands we helped drive more sales and find new friends</h1>
  </div>
</div>

<div class="container">
  <div class="d-flex row justify-content-center" style="padding-top: 0px;">
    <div class="col-lg-3 col-md-4 col-sm-6 col-6 box animate fadeInUp">
      <%= image_tag '64.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6 box animate fadeInUp">
      <%= image_tag '02.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6 box animate fadeInUp">
      <%= image_tag '03.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6 box animate fadeInUp">
      <%= image_tag '04.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6 box animate fadeInUp">
      <%= image_tag '05.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6 box animate fadeInUp">
      <%= image_tag '06.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6 box animate fadeInUp">
      <%= image_tag '07.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6 box animate fadeInUp">
      <%= image_tag '08.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6 box animate fadeInUp">
      <%= image_tag '09.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6 box animate fadeInUp">
      <%= image_tag '10.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6 box animate fadeInUp">
      <%= image_tag '11.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6 box animate fadeInUp">
      <%= image_tag '12.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '13.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '14.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '15.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '16.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '17.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '18.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '19.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '20.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '21.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '22.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '23.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '24.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '25.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '26.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '27.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '28.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '29.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '30.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '31.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '32.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '33.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '34.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '35.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '36.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '37.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '38.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '39.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '40.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '41.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '42.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '43.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '44.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '45.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '46.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '47.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '48.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '49.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '50.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '51.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '62.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '63.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '01.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '65.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '66.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '67.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '68.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '69.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '70.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '71.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '72.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '73.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '74.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '75.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '76.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '77.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '78.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '79.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '80.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '81.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '82.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '83.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '84.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '85.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '86.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '87.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '88.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '89.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '90.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '91.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '92.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '93.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '94.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '95.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '96.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '97.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '98.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '99.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '100.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '101.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '102.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '103.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '104.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '105.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '106.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '107.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '108.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '109.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '110.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '111.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '112.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '113.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '114.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '115.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '116.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '117.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '118.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '119.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '120.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '121.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '122.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '123.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '124.png', :class => "logo_pictures" %>
    </div>

  </div>
</div>


<%= render 'shared/footer-contact' %>

