<%= render 'shared/navbar_white' %>
<title></title>
<meta name="description" content="">
<%= title 'Content Creation Based on 30 Years of Experience' %>
<%= description ' We are the leading web design service in providing creative solutions. Want to stand out? Take a look at our works and let us do the same for you ' %>



<div class="services-div-main">
  <div class="container">
    <div class="d-flex row align-items-center">
      <div class="col-lg-6">
        <h1 class="services_h2_bigger u--zoomIn">So, you need video or photo content. We have produced thousands of them since 1997.</h1>
        <p class="services_p2 u--zoomIn" style="padding-bottom: 20px;">Online success depends on the stories you write, testimonials, photos and videos you produce and share on your online store, blog or social media. </p>
        <div class="u--zoomIn"><a class="button_cta_normal" href="/contacts">Contact us</a></div>
      </div>
      <div class="cyber-col-web col-lg-6 d-flex row justify-content-center" style="margin-top: 0px;">
        <%= image_tag "https://imagedelivery.net/kbdeQbZSIKXp-ZjvXBIJDQ/7fbecab4-3a86-42d8-4b21-7592eb271500/public", class: "section_float_2  u--zoomIn" ,id: "video_animation" %>
      </div>
    </div>
  </div>
</div>

<div class="container" style="position: relative; padding-top: 56.25%;"><iframe src="https://customer-iifeqvttd8luvzt8.cloudflarestream.com/d45320b5e6e4d3271656fac2fbc2d726/iframe?muted=true&preload=true&loop=true&autoplay=true&poster=https%3A%2F%2Fcustomer-iifeqvttd8luvzt8.cloudflarestream.com%2Fd45320b5e6e4d3271656fac2fbc2d726%2Fthumbnails%2Fthumbnail.jpg%3Ftime%3D%26height%3D600&controls=false" style="border: none; position: absolute; top: 0; left: 0; height: 100%; width: 100%;" allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;" allowfullscreen="true"></iframe></div>

<div class="services-new" style="padding-top: 10px;">
  <div class="container">
    <div class="d-flex row align-items-center" style="vertical-align: top;">
      <div class="col-lg-12" style="padding-bottom: 50px;">
       <h2 class="services_p2 reveal"><strong>Online sales and success depend on the stories you tell, blogs and product descriptions you write, and photos and videos you share. We have decades of experience in content production. We will produce as many materials as you need for media and online presence.</strong></h2>
          <p class="services_p2 reveal">
            <strong>COPYWRITING </strong>is how you tell the story about your products and services online. We know that texts must be creative, simple, concise, SEO optimised, and conversational. Our copywriters will include quantifiable facts and the right words to inspire your web store’s actions. Knowing these and some other tricks helps us increase conversion rates for you.
            <br><br><strong>PRODUCT DESCRIPTION </strong> is as essential as texts on the homepage! We often see thousands of products added to the web store without a single product description line. That's how online businesses miss the chance to boost their sales and website SEO. When you hire MITA Group copywriters, product descriptions will be informative, SEO optimised, sales oriented, and at least 1,200 characters long because it’s the minimum for indexing on search engines. We will write not only about product features but also about benefits and different types of use.
            <br><br><strong>VIDEO </strong>is well-known for presentation and advertising purposes. You probably know that video will also build trust and increase engagement on social media very fast, but did you know that video and video animations are also the best for converting viewers into customers? Since 1997 we have produced thousands of different video ads, shows and presentations. You need to share your idea with our creative team, and we will know which kind of video promotion will work for your e-commerce business. We will produce a product overview video, testimonials, storytelling videos, product tutorials, explainer videos and even high-budget TVCs that will return money invested in production in no time.
          </p>
          <p class="services_p2 reveal">
            Would you ever buy a product with zero or bad images? Of course, you will not! That’s why we put a lot of effort into preparing the best <strong>PHOTOS</strong> to present your business and your products. Our creative directors will use different types of photography for other purposes on your online store; a product-only image for single product offers, group shots for group sales, lifestyle photography for interiors and fashion, 3D render for AR (Augmented Reality) presentations, and detailed images for the production of the product details, which we have to emphasise. There are many options, and we know which will boost your conversion rates the best.
          </p>
          <div class="reveal" style="line-height:40px; margin-bottom: 50px;"><br><a class="button_cta_normal" href="/contacts">Share your ideas</a> with us, and we will create outstanding textual, photo or video content.</div>
          <p class="services_p2 reveal">
            <strong>BLOGS</strong> helps your site rank for relevant keywords providing you with more organic (free) traffic and, therefore, more sales. A blog also gives you the opportunity to answer important questions for your customers. It is a powerful tool for internal and external link building (also crucial for good SEO). Blogs are an easy and cost-effective way to promote your products. We know how to write them, pick suitable topics, and utilise them in the sales funnel.
          </p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="d-flex row justify-content-around">
    <div class="video-col col-lg-6">
      <iframe height="100%" src="https://www.youtube.com/embed/EsyB4WYRnUk?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="video-col col-lg-6">
      <iframe height="100%" src="https://www.youtube.com/embed/l-BawgKCoLg?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="video-col col-lg-6">
      <iframe height="100%" src="https://www.youtube.com/embed/EvLzwxiVSY0?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="video-col col-lg-6">
      <iframe height="100%" src="https://www.youtube.com/embed/_WtovzOcw7M?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="video-col col-lg-6">
      <iframe height="100%" src="https://www.youtube.com/embed/Omab6fjAf7M?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="video-col col-lg-6">
      <iframe height="100%" src="https://www.youtube.com/embed/_m6kbBixf78?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>

<div class="work-catalog">
  <div class="container">
    <h2 class="heading_black_webs reveal" style="margin-bottom: 50px; margin-top: 60px;">Check out some of our content production works:</h2>
    <div class="d-flex row justify-content-center reveal">
      <div class="col-lg-2 col-md-3 col-sm-2">
        <a href="https://mita.agency/stories/we-launched-a-web-shop-for-a-delicatessen-shop-in-switzerland" target="_blank" class="link_to">
        <%= image_tag "https://imagedelivery.net/kbdeQbZSIKXp-ZjvXBIJDQ/04c2572f-595e-4d0a-491b-a8d0db03e200/public", class: "our-work-picture" %>
        </a>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-2">
        <a href="https://www.facebook.com/feaSEE" target="_blank" class="link_to">
        <%= image_tag "https://imagedelivery.net/kbdeQbZSIKXp-ZjvXBIJDQ/b07e841c-ab83-446b-cab0-d55f91ed4500/public", class: "our-work-picture" %>
        </a>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-2">
        <a href="https://mita.agency/stories/25k-sales-leads-generated-in-banking" target="_blank" class="link_to">
        <%= image_tag "https://imagedelivery.net/kbdeQbZSIKXp-ZjvXBIJDQ/c3c529fd-71a2-481b-7b3a-91863cc43a00/public", class: "our-work-picture" %>
        </a>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-2">
        <a href="https://mita.agency/stories/meeting-sales-objectives-using-digital-adveertising" target="_blank" class="link_to">
        <%= image_tag "https://imagedelivery.net/kbdeQbZSIKXp-ZjvXBIJDQ/79317422-9b6d-4752-3b42-c5ba0ba42800/public", class: "our-work-picture" %>
        </a>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-2">
        <a href="https://mita.agency/stories/we-launched-the-mobello-web-shop-for-the-german-market-b8c96958-4b2c-4f76-a345-233e06167b35" target="_blank" class="link_to">
        <%= image_tag "https://imagedelivery.net/kbdeQbZSIKXp-ZjvXBIJDQ/85f98fda-4ac5-4b7b-3a88-0d532edf2400/public", class: "our-work-picture" %>
        </a>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-2">
        <a href="https://mita.agency/stories/we-launched-the-mobello-web-shop-for-the-german-market-b8c96958-4b2c-4f76-a345-233e06167b35" target="_blank" class="link_to">
        <%= image_tag "https://imagedelivery.net/kbdeQbZSIKXp-ZjvXBIJDQ/954bc55f-87a1-4bd1-dca1-aaa2b7504c00/public", class: "our-work-picture" %>
        </a>
      </div>
    </div>
  </div>
</div>


