<%= render 'shared/navbar_white_services' %>


<% title 'Professional eCommerce Development Service at Your Disposal!' %>
<% description 'Share your vision with us and our eCommerce development team will do the rest! Our full development service is at your disposal!' %>
<% keywords 'ecommerce development' %>


<div class="services-div-main">
  <div class="container">
    <div class="d-flex row align-items-center" style="vertical-align: top;">
      <div class="col-lg-6">
        <h1 class="services_h2_bigger u--zoomIn">So, you decided to create a new online store, to change or improve the old one? </h1>
        <p class="services_p2 u--zoomIn" style="padding-bottom: 20px;">Share with us your business vision or problems and we’ll help you grow your online business.</p>
        <div class="u--zoomIn"><a class="button_cta_normal" href="/contacts">Contact us</a></div>
      </div>
      <div class="cyber-col-web col-lg-6" >
        <div class="desktop-comm">
          <div class="u--zoomIn d-flex row justify-content-center">
            <div class="col-lg-6" style="padding: 0;">
              <%= image_tag "https://imagedelivery.net/kbdeQbZSIKXp-ZjvXBIJDQ/325349cc-5c27-4837-d5c4-725a4db68200/public", class: "section_float_2" ,id: "video_animation" %>
            </div>
            <div class="col-lg-6" style="padding: 0;">
              <%= image_tag "https://imagedelivery.net/kbdeQbZSIKXp-ZjvXBIJDQ/a99711b5-1ca7-4fec-b70f-6468326c5d00/public", class: "section_float" ,id: "video_animation" %>
            </div>
          </div>
        </div>
        <div class="mob-comm" style="margin-top: 50px;">
          <%= image_tag "https://imagedelivery.net/kbdeQbZSIKXp-ZjvXBIJDQ/f2f3bc3b-1e65-474c-e928-6f6414f37100/public", class: "section_float" ,id: "video_animation" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" style="position: relative; padding-top: 56.25%;"><iframe src="https://customer-iifeqvttd8luvzt8.cloudflarestream.com/141c7c4fd2088245020d08a543c8c97b/iframe?muted=true&preload=true&loop=true&autoplay=true&poster=https%3A%2F%2Fcustomer-iifeqvttd8luvzt8.cloudflarestream.com%2F141c7c4fd2088245020d08a543c8c97b%2Fthumbnails%2Fthumbnail.jpg%3Ftime%3D%26height%3D600&controls=false" style="border: none; position: absolute; top: 0; left: 0; height: 100%; width: 100%;" allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;" allowfullscreen="true"></iframe></div>

<div class="services-new" style="padding-top: 10px;">
  <div class="container">
    <div class="d-flex row align-items-center" style="vertical-align: top;">
      <div class="col-lg-12" style="padding-bottom: 50px;">
        <p class="services_p2 u--zoomIn">
          In the beginning, we will learn more about your business and website requirements, take desktop research, recommend the WooCommerce theme, and create the quote. Once you are happy with the proposal and the quote, we will start working on your project and keep you updated every step of the way. We will focus on great design, highlighting your products, optimising your store and single product pages, and simplifying the checkout process.</p>
          <h2 class="services_p2 reveal"><strong>We build fantastic eCommerce websites and include many functionalities in every online store. Your webshop will be:</strong></h2>
          <ul class="services_p2 reveal">
            <li>Fast and responsive and on all devices.</li>
            <li>Beautifully designed and optimised for conversions.</li>
            <li>SEO optimised to be ranked higher on Google</li>
          </ul>
          <h3 class="services_p2 reveal"><strong>We will also integrate:</strong></h3>
          <ul class="services_p2 reveal">
            <li>Google Analytics to track all changes and analytics in real time.</li>
            <li>Google Tag Manager installed & configured. With this functionality, you can track conversions and find out which marketing channels bring you the most results.</li>
            <li>Facebook pixel installation to track advertising performance.</li>
            <li>Selecting and advice on shipping providers, terms and rates setup & configuration. 53% of online customers expect free and fast delivery (within 24 hours). We will create an automated delivery system. Everything after the purchase will run smoothly without the extensive involvement of human labour.</li>
            <li>PayPal, Stripe, Klarna, WooCommerce, Direct or any other payment integration setup.</li>
            <li>Automated abandoned checkout emails to recover sales and bring customers back.</li>
            <li>Entry forms and CTA buttons to collect emails from subscribers.</li>
            <li>Secure & automated daily backups for peace of mind.</li>
            <li>Fast, helpful customers support.</li>
            <li>Order management and product uploading training.</li>
            <li>Advise on Privacy and Cookie Policies according to GDPR law.</li>
            <li>Advice on Easy Return Policy: 33% of online customers decide about a purchase based on the possibility of simply returning the product if unsatisfied. We will create a system for you that merely works and does not require a large workforce.</li>
          </ul>
          <p class="services_p2 reveal"><strong>If you need more, just tell us, and we will deliver tens of different functionalities that will grow your business fast.</strong></p>
          <h3 class="services_p2 reveal"><strong>The development phase is the most intensive part of the process. Here are the steps we will follow to develop the web store</strong></h3>
          <ul class="services_p2 reveal">
            <li>Creating and <strong>loading static content</strong></li>
            <li>Creating <strong>categories and taxonomies</strong></li>
            <li><strong>Product entry and product options,</strong> technical specifications</li>
            <li><strong>Plugins</strong> - The plugins are one of the most powerful aspects of e-commerce platforms. The ability to extend the functionality of the platforms without spending time on programming custom solution is fantastic. We use them for SEO improvement, conversion tracking, speed optimization, adding contact forms, collecting emails, etc. There are thousands of plugins available and the key is to know which ones work best for you.</li>
            <li><strong>Loading speed optimization</strong>The web store must load in under 3 seconds at the average rate of a 3G mobile network. We pay special attention to optimisation for search engines to rank your web page better</li>
          </ul>
          <h2 class="services_p2 reveal"><strong>
          DSP environment and coding according to the highest standards are crucial to avoid major problems. During the creation of the web store, we use three different types of servers:
          </strong></h2>
          <p class="services_p2 reveal"><strong>The DEVELOPMENT SERVER</strong> is for the first version of the web store and before the launch: coding, installation of the necessary plugins, and customization of the theme. After the website gets its outlines and is filled with the demo content, we are going to the next level.
          <br><br><strong>The STAGING SERVER</strong> is a locked environment for the administrator and team working on the web store. All future changes, even after the launch, will be done on a staging server, and testing (QA) before being published on the production server.
          <br><br><strong>The PRODUCTION SERVER</strong> is the live website publicly available to all users. It is crucial to host the web store on reliable and fast cloud systems with optimized costs so you do not pay more than you need.</p>
          <h3 class="services_p2 reveal"><strong>Before launching your online store we will:</strong></h3>
          <ul class="services_p2 reveal">
            <li><strong>Check twice security</strong> - Personal data are crucial, so we often use free CDN-type products that protect against threats like SQL injection attacks and identity theft. We take care of website performance and speed up load times using its multiple data centres worldwide.</li>
            <li><strong>Provide QA testing </strong> - The site is ready for testing when all its visual elements and content (products, prices, categories, blogs, texts) are loaded. We ensure proper QA testing to confirm that all web page links work and that the page can load correctly on all browsers and devices. After launch, testing and optimisation do not end. We use specialised tools to investigate how visitors use the web store, what parts they click on and what we need to change.</li>
            <li><strong>Fix and clean all bugs</strong>- Test functionalities and review the page meta titles and descriptions. Even how the words are arranged in the meta title can affect a page's performance on search engines. We must check all payment methods and make test purchases.</li>
          </ul>
        <div class="reveal services_p2" style="line-height:40px;"><br><a class="button_cta_normal" href="/contacts">Send Us</a> the inquiry or idea about the web store you want to launch, and we will send you the offer or contact you ASAP.</div>
      </div>
    </div>
  </div>
</div>



<div class="work-catalog">
  <div class="container">
    <h6 class="heading_black_webs reveal" style="margin-bottom: 50px; margin-top: 60px;">Check out some of our eCommerce works:</h6>
    <div class="d-flex row justify-content-center reveal">
      <div class="col-lg-3 col-md-3 col-sm-2" >
        <a class="link_to" target="_blank" href="https://mita.agency/stories/we-launched-the-mobello-web-shop-for-the-german-market-b8c96958-4b2c-4f76-a345-233e06167b35">
          <%= image_tag "https://imagedelivery.net/kbdeQbZSIKXp-ZjvXBIJDQ/c3887506-27c6-49b9-d4f0-dfcb8935d500/public", class: "our-work-picture" %>
        </a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-2">
        <a class="" target="_blank" href="https://mita.agency/stories/we-launched-a-web-shop-for-a-delicatessen-shop-in-switzerland">
          <%= image_tag "https://imagedelivery.net/kbdeQbZSIKXp-ZjvXBIJDQ/97132189-ad8a-44e9-e346-a2d2856d6b00/public", class: "our-work-picture" %>
        </a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-2">
        <a class="" target="_blank" href="https://mita.agency/stories/20k-app-downloads-in-the-first-month">
          <%= image_tag "https://imagedelivery.net/kbdeQbZSIKXp-ZjvXBIJDQ/46ce91c7-e15a-4cac-356f-1bc98260a800/public", class: "our-work-picture" %>
        </a>
      </div>
    </div>
  </div>
</div>
