<%= render 'shared/navbar_white' %>
<title>Discover Premium Graphic Design Solutions Now </title>
<meta name="description" content="Our mission is to be the most creative agency out there! For all creative troubles that you have, our graphic design team will find a soultion.">

<div class="services-div-main">
  <div class="container">
    <div class="d-flex row align-items-center" style="vertical-align: top;">
      <div class="col-lg-6">
        <h1 class="services_h2_bigger u--zoomIn">So, you need beautifully designed point-of-sale materials, adverts or photo content?</h1>
        <p class="services_p2 u--zoomIn" style="padding-bottom: 20px;">How you look is the first impression you leave online. So we care about colours, fonts, logo design, and shape to be applicable for digital presentations or social media avatars. </p>
        <div class="u--zoomIn"><a class="button_cta_normal" href="/contacts">Tell us more</a></div>
      </div>
       <div class="cyber-col-web col-lg-6" >
        <div class="desktop-comm">
          <div class=" d-flex row justify-content-center">
            <div class="col-lg-6 u--bounceIn" style="padding: 0; position:absolute; z-index: 1; left: 140px;">
              <%= image_tag "https://imagedelivery.net/kbdeQbZSIKXp-ZjvXBIJDQ/bb3e3953-54f9-49c8-866e-c9f96c83a900/public", class: "section_float_2" ,id: "video_animation_height" %>
            </div>
            <div class="col-lg-6 u--zoomIn" style="padding: 0; position:relative;margin-left: 40px;">
              <%= image_tag "https://imagedelivery.net/kbdeQbZSIKXp-ZjvXBIJDQ/e230f110-e406-438a-48de-2f3f26747a00/public", class: "section" ,id: "video_animation", style: "margin-left:60px;" %>
            </div>
          </div>
        </div>
        <div class="mob-comm" style="margin-top: 50px;">
          <%= image_tag "https://imagedelivery.net/kbdeQbZSIKXp-ZjvXBIJDQ/ffb250ac-1508-467d-8a9c-2b9a04ad2700/public", class: "section_float" ,id: "video_animation" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="services-new" style="padding-top: 10px;">
  <div class="container">
    <div class="d-flex row align-items-center" style="vertical-align: top;">
      <div class="col-lg-12" style="padding-bottom: 50px;">
        <h2 class="services_p2 reveal"><strong>We will design as many materials as you need to complete the web store or web page.</strong></h2>
          <p class="services_p2 reveal"><strong>
          YOUR NAME, LOGO AND VISUAL IDENTITY </strong> is the first impression you leave online. So we care about colours, fonts, logo design, and shape to be applicable for social media avatars. We will develop graphic standards with logo applications for all your future needs
          <br><br><strong>BANNERS</strong> static, dynamic, HTML ads are essential for advertising on the internet as well as for different presentations on your web store.
          <br><br><strong>NEWSLETTERS, CATALOGUES, and LEAFLETS </strong>are the fundament for online and email advertising. We developed successfully thousands of them in past and learned what works the best for different products and webshops.
          <br><br><strong>SOCIAL MEDIA CONTENT</strong>is crucial for branding, promotion, customer support and two-way communication with customers. We will design and develop tens of different layouts, GIFs, animations and pictures every month or year for all your needs.
          <br><br><strong>COUPONS, BLOGS, NATIVE ADS </strong> They are not used often but they have to look the best in the industry.
        </p>
        <div class="reveal" style="line-height:40px;"><br><a class="button_cta_normal" href="/contacts">Send Us</a> the inquiry or idea about the web store you want to launch, and we will send you the offer or contact you ASAP.</div>
      </div>
    </div>
  </div>
</div>


<div class="work-catalog">
  <div class="container">
    <h2 class="heading_black_webs reveal" style="margin-bottom: 50px; margin-top: 60px;">Check out some of our graphic design works:</h2>
    <div class="d-flex row justify-content-center reveal">
      <div class="col-lg-2 col-md-3 col-sm-2" >
        <a href="" target="_blank" class="link_to">
        <%= image_tag "https://imagedelivery.net/kbdeQbZSIKXp-ZjvXBIJDQ/5de8d93d-30f5-4b9a-4885-027803381c00/public", class: "our-work-picture" %>
        </a>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-2">
        <a href=" https://mita.agency/stories/meeting-sales-objectives-using-digital-adveertising" target="_blank" class="link_to">
        <%= image_tag "https://imagedelivery.net/kbdeQbZSIKXp-ZjvXBIJDQ/b9625982-6715-4b0d-899c-6ec169590a00/public", class: "our-work-picture" %>
        </a>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-2">
        <a href="https://mita.agency/stories/we-increased-number-of-sales-leads-by-33" target="_blank" class="link_to">
        <%= image_tag "https://imagedelivery.net/kbdeQbZSIKXp-ZjvXBIJDQ/5f03bf0e-9ef7-4f69-3635-a5b72f9d6b00/public", class: "our-work-picture" %>
        </a>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-2">
        <a href="https://mita.agency/stories/we-launched-the-mobello-web-shop-for-the-german-market-b8c96958-4b2c-4f76-a345-233e06167b35" target="_blank" class="link_to">
        <%= image_tag "https://imagedelivery.net/kbdeQbZSIKXp-ZjvXBIJDQ/d73cff07-5f85-46d7-f9aa-6b6609df8e00/public", class: "our-work-picture" %>
        </a>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-2">
        <a href="https://mita.agency/stories/we-launched-the-mobello-web-shop-for-the-german-market-b8c96958-4b2c-4f76-a345-233e06167b35" target="_blank" class="link_to">
        <%= image_tag "https://imagedelivery.net/kbdeQbZSIKXp-ZjvXBIJDQ/cbb1e37b-9545-4dc3-7b53-02b641e58400/public", class: "our-work-picture" %>
        </a>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-2">
        <a href="https://mita.agency/stories/we-launched-the-mobello-web-shop-for-the-german-market-b8c96958-4b2c-4f76-a345-233e06167b35" target="_blank" class="link_to">
        <%= image_tag "https://imagedelivery.net/kbdeQbZSIKXp-ZjvXBIJDQ/9ecd4bdb-43ed-4c51-2eb8-fb450bef3e00/public", class: "our-work-picture" %>
      </a>
      </div>
    </div>
  </div>
</div>


