<div class="main_margin">
<div class="section_1" style="padding-top: 80px;">
  <div class="container">
    <h1 class="home_heading box animate fadeInUp">Helping Brands<br>Drive More Sales</h1>
    <p class="home_since box animate fadeInUp">since 1997</p>
    <p class="home_para box animate fadeInUp">Kreirali smo i realizirali desetine hiljada reklamnih kampanja za različite vrste biznisa od 1997. godine do danas. Od prvog dana analiziramo ponašanja kupaca, pratimo njihove navike, koje vrste oglasa, u koje vrijeme i i na kojem mjestu je najbolje plasirati. Na taj način osiguravamo maksimalnu učinkovitost oglašavanja, uspješno kreiranje baza prodajnih leadova, akviziciju novih kupaca i povećanje prodaje.</p>
    <button class="button_1_div box animate fadeInUp" href="/services" style="margin-top: 30px; "><%= image_tag 'strelica.png', :style => "width:30px;" %><%= link_to "Learn more", "/services", class: "button_1", style: "margin-top:20px;" %></button>
  </div>
</div>
<div class="section_2">
  <div class="container">
    <h1 class="home_heading_black box animate fadeInUp">Rezultati <br> sve govore</h1>
    <div class="section_tri d-flex row" style="padding-top: 100px; padding-bottom: 100px;">
      <div class="col-lg-4 col-md-4 col-sm-12 box animate fadeInUp">
        <span class="dot1"></span>
        <div class="section_tri_text">
          <h2 class="section_tri_header">€50+ million</h2>
          <p class="section_tri_para">smo povećali prodaju<br> našim klijentima</p>
        </div>
      </div>
      <div class="col-padd col-lg-4 col-md-4 col-sm-12 box animate fadeInUp">
        <span class="dot1"></span>
        <div class="section_tri_text">
          <h2 class="section_tri_header">500.000+</h2>
          <p class="section_tri_para">prodajnih leadova<br>smo prikupili</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 box animate fadeInUp">
        <span class="dot1"></span>
        <div class="section_tri_text">
          <h2 class="section_tri_header">500.000+</h2>
          <p class="section_tri_para">različitih oglasa<br> smo kreirali</p>
        </div>
      </div>
  </div>
</div>
</div>
<div class="section_3">
  <div class="container">
    <h1 class="home_heading_second">We Know Better<br>Than Anyone Else</h1>
    <div class="container">
      <div class="section_3_list" style="padding-top:20px; padding: 0 15px;">
        <div class="section_3_list_first_row row d-flex ">
          <div class="ab_home row align-items-center col-lg-12">
            <%= image_tag 'homeabout1.png', :class => "homeabout" %>
            <p class="section_3_p_2">1. Koji je optimalan period trajanja kampanja. Nakon toga broj leadova pada, a povećava se cijena akvizicije.</p>
          </div>
          <div class="ab_home d-flex row align-items-center col-lg-12">
            <%= image_tag 'homeabout2.png', :class => "homeabout" %>
            <p class="section_3_p_2">2. Koji procenat leadova dolazi unutar prvih 5 dana kampanje, a koliko nakon toga.</p>
          </div>
          <div class="ab_home row align-items-center col-lg-12">
            <%= image_tag 'homeabout3.png', :class => "homeabout" %>
            <p class="section_3_p_2">3. Procenat svih posjeta i konverzija koje dolaze sa mobitela.</p>
          </div>
          <div class="ab_home row align-items-center col-lg-12">
            <%= image_tag 'homeabout4.png', :class => "homeabout" %>
            <p class="section_3_p_2">4. Koji su baneri najefikasniji i koji su najbolji nakon njih.</p>
          </div>
          <div class="ab_home row align-items-center col-lg-12">
            <%= image_tag 'homeabout5.png', :class => "homeabout" %>
            <p class="section_3_p_2">5. Koji dio oglasa kupci ne vole znamo kad potencijalni klijenti napuštaju pregled video oglasa i kako unaprijediti <br>konverziju video oglasa.</p>
          </div>
          <div class="ab_home row align-items-center col-lg-12">
            <%= image_tag 'homeabout6.png', :class => "homeabout" %>
            <p class="section_3_p_2">6. Koji je najbolji odnos Google Display i Premium oglasa na portalima te koji oglasi imaju bolji stopu i cijenu konverzije.</p>
          </div>
          <div class="ab_home row align-items-center col-lg-12">
            <%= image_tag 'homeabout7.png', :class => "homeabout" %>
            <p class="section_3_p_2">7. Razliku u stepenu konverzije video oglasa i jednostavnih animacija.</p>
          </div>
          <div class="ab_home row align-items-center col-lg-12">
            <%= image_tag 'homeabout8.png', :class => "homeabout" %>
            <p class="section_3_p_2">8. Koji digitalni kanali funkcioniraju kod različitih ciljnih skupina.</p>
          </div>
        </div>
      </div>
      <button class="button_1_div" style="margin-top: 30px; "><%= image_tag 'strelica.png', :style => "width:30px;" %><%= link_to "Learn more", "/services", class: "button_1", style: "margin-top:20px;" %></button>
    </div>
  </div>
</div>
<div class="section_11">
  <div class="container">
    <p style="padding-top: 30px; color: #fff;"><br> </p>
  </div>
</div>
<div class="section_4">
  <div class="container">
    <div class="sections_rows d-flex row">
      <div class="row_1 col-lg-8 col-md-8 col-sm-12">
        <h4 class="sections_h4">ONE OF THE LARGEST FINANCIAL <br>SERVICES PROVIDER IN CEE REGION</h4>
        <a href="stories/1" class="sections_h2_4">25k+<br>sales leads<br>generated<br>in banking</a>
        <p class="sections_p">We generated more than 25.000 sales leads for<br>loans and mortgages in 2020.</p>
      </div>
      <div class="row_2 col-lg-4 col-md-4 col-sm-12 d-flex justify-content-center align-items-center">
        <h1 style="color: white;  border: 1px solid #fff; padding:50px;">IMG</h1>
      </div>
    </div>
  </div>
</div>
<div class="section_5">
  <div class="container">
    <div class="sections_rows d-flex row">
      <div class="row_1 col-lg-8 col-md-8 col-sm-12">
        <h4 class="sections_h4">ONE OF THE LARGEST INSURANCE<br>COMPANIES IN ADRIATIC REGION</h4>
        <h2 class="sections_h2_5">Neki podatak<br>koji možemo<br>izvući iz<br>izvještaja</h2>
        <p class="sections_p">We generated more thanxy sales leads, social<br>media engagement and loyalty.</p>
      </div>
      <div class="row_2 col-lg-4 col-md-4 col-sm-12 d-flex justify-content-center align-items-center" >
        <h1 style="color: white;  border: 1px solid #fff; padding:50px;">IMG</h1>
      </div>
    </div>
  </div>
</div>
<div class="section_6">
  <div class="container">
    <div class="sections_rows d-flex row">
      <div class="row_1 col-lg-8 col-md-8 col-sm-12">
        <h4 class="sections_h4">STATE OWNED LOTTERY OF<br>BOSNIA AND HERZEGOVINA</h4>
        <h2 class="sections_h2_6">13x more<br>registrations<br>to e-wallet</h2>
        <p class="sections_p">Mislim da je i 700% povećana prodaja u tom<br>periodu pa treba i to dopisati.</p>
      </div>
      <div class="row_2 col-lg-4 col-md-4 col-sm-12 d-flex justify-content-center align-items-center">
        <h1 style="color: white;  border: 1px solid #fff; padding:50px;">IMG</h1>
      </div>
    </div>
  </div>
</div>
<div class="section_7">
  <div class="container">
    <div class="sections_rows d-flex row">
      <div class="row_1 col-lg-8 col-md-8 col-sm-12">
        <h4 class="sections_h4">JEDAN OD NAJVEĆIH GRAĐEVINSKIH<br>BRENDOVA NA SVIJETU</h4>
        <h2 class="sections_h2_7">Izvući naslov<br>koji je pravo<br>zvučan za<br>naš rad</h2>
        <p class="sections_p">Mislim da je i 700% povećana prodaja u tom<br>periodu pa treba i to dopisati.</p>
      </div>
        <div class="row_2 col-lg-4 col-md-4 col-sm-12 d-flex justify-content-center align-items-center">
        <h1 style="color: white;  border: 1px solid #fff; padding:50px;">IMG</h1>
      </div>
    </div>
  </div>
</div>
<div class="section_8">
  <div class="container">
    <div class="sections_rows d-flex row">
      <div class="row_1 col-lg-8 col-md-8 col-sm-12">
        <h4 class="sections_h4">SMALL FRENCH BAKERY</h4>
        <h2 class="sections_h2_8">Brendiranje kao<br>konkurentska<br>prednost</h2>
        <p class="sections_p">Od ideje i logotipa do brenda koji predvodi<br>promjene u cijeloj industriji.</p>
      </div>
      <div class="row_2 col-lg-4 col-md-4 col-sm-12 d-flex justify-content-center align-items-center">
        <h1 style="color: white;  border: 1px solid #fff; padding:50px;">IMG</h1>
      </div>
    </div>
  </div>
</div>

<div class="section_9">
  <div class="container">
    <div class="sections_rows d-flex row">
      <div class="row_1 col-lg-8 col-md-8 col-sm-12">
        <h4 class="sections_h4">HOODIE<br>SMALL FASHION BRAND</h4>
        <h2 class="sections_h2_9">3.4x<br>increase in<br>sales on<br>social media</h2>
        <p class="sections_p">Od ideje i logotipa do brenda koji predvodi<br>promjene u cijeloj industriji.</p>
      </div>
      <div class="row_2 col-lg-4 col-md-4 col-sm-12 d-flex justify-content-center align-items-center">

        <div><h1 style="color: white; border: 1px solid #fff; padding:50px;">IMG</h1></div>
      </div>
    </div>
  </div>
</div>
</div>

