<div class="main_margin">
<div class="section_1" style="padding-top: 80px;">
  <div class="container">
    <h1 class="home_heading box animate fadeInUp">Helping Brands<br>Drive More Sales</h1>
    <p class="home_since box animate fadeInUp">since 1997</p>
    <p class="home_para box animate fadeInUp">We have created and implemented tens of thousands of advertising campaigns for various kinds of businesses since 1997. From day one, we analyse consumer behaviour and monitor their habits. We also analyse what kind of ads to run, and where and when to run them. That is how we achieve maximum efficiency, successfully create sale leads databases, acquire new customers, and drive sales.</p>

    <a class="button_1_div inline-block d-flex row align-items-center justify-content-center box animate fadeInUp" href="/services" style="text-decoration: none; margin-top: 30px; padding-left:0px; margin-right: 0; margin-left: 0;" >
        <div>
          <%= image_tag 'strelica.png', :style => "width:30px; margin-right:10px;" %>
        </div>
        <div>
          Learn more
        </div>
    </a>
  </div>
</div>

<div class="section_2">
  <div class="container">
    <h1 class="home_heading_black reveal ">Our results<br> say it all:</h1>
    <div class="section_tri d-flex row" style="padding-top: 100px; padding-bottom: 100px;">
      <div class="col-lg-4 col-md-4 col-sm-12 box animate fadeInUp">
        <span class="dot1"></span>
        <div class="section_tri_text">
          <h2 class="section_tri_header reveal">€50+ million</h2>
          <p class="section_tri_para reveal">generated sales <br>growth for our clients</p>
        </div>
      </div>
      <div class="col-padd col-lg-4 col-md-4 col-sm-12 box animate fadeInUp">
        <span class="dot1"></span>
        <div class="section_tri_text">
          <h2 class="section_tri_header reveal">500.000+</h2>
          <p class="section_tri_para reveal">generated sales<br> leads</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 box animate fadeInUp">
        <span class="dot1"></span>
        <div class="section_tri_text">
          <h2 class="section_tri_header reveal">500.000+</h2>
          <p class="section_tri_para reveal">created ads</p>
        </div>
      </div>
  </div>
</div>
</div>
<div class="section_3 ">
  <div class="container">
    <h1 class="home_heading_second reveal">We Know Better<br>Than Anyone Else</h1>
    <div class="container">
      <div class="section_3_list" style="padding-top:20px; padding: 0 15px;">
       <div class="section_3_list_first_row row d-flex reveal">
          <div class="ab_home row align-items-center col-lg-12">
            <%= image_tag 'homeabout1.png', :class => "homeabout" %>
            <p class="section_3_p_2">1. What the optimal campaign period is; after that, the number of leads drops, and acquisition cost rises;</p>
          </div>
          <div class="ab_home d-flex row align-items-center col-lg-12">
            <%= image_tag 'homeabout2.png', :class => "homeabout" %>
            <p class="section_3_p_2">2. The percentage of leads generated within the first 5 days of the campaign, and the percentage of leads generated after that;</p>
          </div>
          <div class="ab_home row align-items-center col-lg-12">
            <%= image_tag 'homeabout3.png', :class => "homeabout" %>
            <p class="section_3_p_2">3. The percentage of all visits and leads coming from mobile phones;</p>
          </div>
          <div class="ab_home row align-items-center col-lg-12">
            <%= image_tag 'homeabout4.png', :class => "homeabout" %>
            <p class="section_3_p_2">4. The most effective web banners, and the second best ones;</p>
          </div>
          <div class="ab_home row align-items-center col-lg-12">
            <%= image_tag 'homeabout5.png', :class => "homeabout" %>
            <p class="section_3_p_2">5. The part of an ad customers do not like, when potential customers stop viewing video ads, and how to improve video ad conversion;</p>
          </div>
          <div class="ab_home row align-items-center col-lg-12">
            <%= image_tag 'homeabout6.png', :class => "homeabout" %>
            <p class="section_3_p_2">6. The best ratio between Google Display and Premium ads on web portals, and ads with the best conversion rate and conversion cost;</p>
          </div>
          <div class="ab_home row align-items-center col-lg-12">
            <%= image_tag 'homeabout7.png', :class => "homeabout" %>
            <p class="section_3_p_2">7. The difference in conversation rates of video ads and simple animations;</p>
          </div>
          <div class="ab_home row align-items-center col-lg-12">
            <%= image_tag 'homeabout8.png', :class => "homeabout" %>
            <p class="section_3_p_2">8. Which digital channels work for different target groups.</p>
          </div>
        </div>
      </div>
      <a class="button_1_div  inline-block d-flex row align-items-center justify-content-center box animate fadeInUp" href="/services" style="text-decoration: none; margin-top: 30px; padding-left:0px; margin-right: 0; margin-left: 0;" >

        <div>
          <%= image_tag 'strelica.png', :style => "width:30px; margin-right:10px;" %>
        </div>
        <div>
          Learn more
        </div>

    </a>
    </div>
  </div>
</div>
<div class="section_11 reveal">
  <div class="container">
    <p style="padding-top: 30px; color: #fff;"><br> </p>
  </div>
</div>
<div class="section_4 reveal">
  <div class="container">
    <a href="stories/25k-sales-leads-generated-in-banking" style="text-decoration: none;">
      <div class="sections_rows d-flex row">
        <div class="row_1 col-lg-7 col-md-8 col-sm-12">
          <h4 class="sections_h4">ONE OF THE LARGEST FINANCIAL <br>SERVICES PROVIDER IN CEE REGION</h4>
          <h2 class="sections_h2_4">25k+<br>sales leads<br>generated<br>in banking</h2>
          <p class="sections_p">We generated more than 25.000 sales leads for<br>loans and mortgages in 2020.</p>
        </div>
        <div class="row_2 col-lg-5 col-md-4 col-sm-12 d-flex justify-content-center align-items-center">
          <%= image_tag '01-1.png', :class => "home_pictures" %>
        </div>
      </div>
    </a>
  </div>
</div>
<div class="section_5 reveal">
  <div class="container">
    <a href="stories/we-increased-number-of-sales-leads-by-33" style="text-decoration: none;">
      <div class="sections_rows d-flex row">
        <div class="row_1 col-lg-7 col-md-8 col-sm-12">
          <h4 class="sections_h4">ONE OF THE LARGEST INSURANCE<br>COMPANIES IN ADRIATIC REGION</h4>
          <h2 class="sections_h2_5">33% more<br> sales leads<br> generated</h2>
          <p class="sections_p">We exceeded expectations in the midst of <br>the Covid-19 pandemic.</p>
        </div>
        <div class="row_2 col-lg-5 col-md-4 col-sm-12 d-flex justify-content-center align-items-center" >
          <%= image_tag '02-2.png', :class => "home_pictures" %>
        </div>
      </div>
    </a>
  </div>
</div>
<div class="section_6 reveal">
  <div class="container">
    <a href="stories/13x-more-registrations-to-e-wallet" style="text-decoration: none;">
      <div class="sections_rows d-flex row">
        <div class="row_1 col-lg-7 col-md-8 col-sm-12">
          <h4 class="sections_h4">STATE OWNED LOTTERY OF<br>BOSNIA AND HERZEGOVINA</h4>
          <h2 class="sections_h2_6">13x more<br>registrations<br>to e-wallet</h2>
          <p class="sections_p">700% internet sales growth</p>
        </div>
        <div class="row_2 col-lg-5 col-md-4 col-sm-12 d-flex justify-content-center align-items-center">
          <%= image_tag '03-3.png', :class => "home_pictures" %>
        </div>
      </div>
    </a>
  </div>
</div>
<div class="section_7 reveal">
  <div class="container">
    <a href="stories/meeting-sales-objectives-using-digital-adveertising" style="text-decoration: none;">
    <div class="sections_rows d-flex row">
      <div class="row_1 col-lg-7 col-md-8 col-sm-12">
        <h4 class="sections_h4">ONE OF THE WORLD'S LARGEST BRANDS<br> IN THE CONSTRUCTION INDUSTRY</h4>
        <h2 class="sections_h2_7">+5k social <br>media followers</h2>
        <p class="sections_p">We helped a client to achieve sales goals using digital channels despite huge inflation in the construction industry.</p>
      </div>
        <div class="row_2 col-lg-5 col-md-4 col-sm-12 d-flex justify-content-center align-items-center">
        <%= image_tag '04-4.png', :class => "home_pictures" %>
      </div>
    </div>
    </a>
  </div>
</div>
<div class="section_8 reveal">
  <div class="container">
    <a href="stories/" style="text-decoration: none;">
    <div class="sections_rows d-flex row">
      <div class="row_1 col-lg-7 col-md-8 col-sm-12">
        <h4 class="sections_h4">SMALL FRENCH BAKERY</h4>
        <h2 class="sections_h2_8">Branding as <br>a competitive<br> advantage</h2>
        <p class="sections_p">From an idea and a logo to the leading brand in the industry on the whole.</p>
      </div>
      <div class="row_2 col-lg-5 col-md-4 col-sm-12 d-flex justify-content-center align-items-center">
        <%= image_tag '05-5.png', :class => "home_pictures" %>
      </div>
    </div>
    </a>
  </div>
</div>
<!--
<div class="section_9">
  <div class="container">
    <a href="stories/" style="text-decoration: none;">
    <div class="sections_rows d-flex row">
      <div class="row_1 col-lg-7 col-md-8 col-sm-12">
        <h4 class="sections_h4">HOODIE SMALL FASHION BRAND</h4>
        <h2 class="sections_h2_9">3.4x<br>increase in<br>sales on<br>social media</h2>
        <p class="sections_p">From an idea and a logo to the leading brand in the industry on the whole.</p>
      </div>
      <div class="row_2 col-lg-5 col-md-4 col-sm-12 d-flex justify-content-center align-items-center">
        <div><%= image_tag '06-6.png', :class => "home_pictures" %></div>
      </div>
    </div>
    </a>
  </div>
</div> -->

<div class="section_9_2 reveal">
  <div class="container">
    <a href="stories/20k-app-downloads-in-the-first-month" style="text-decoration: none;">
    <div class="sections_rows d-flex row">
      <div class="row_1 col-lg-7 col-md-8 col-sm-12">
        <h4 class="sections_h4">CONTENT CREATOR APP</h4>
        <h2 class="sections_h2_9_2">20k+ app downloads<br> in the first month</h2>
        <p class="sections_p">We know how to launch an application to the global market.</p>
      </div>
      <div class="row_2 col-lg-5 col-md-4 col-sm-12 d-flex justify-content-center align-items-center">
        <div><%= image_tag '07-7.png', :class => "home_pictures" %></div>
      </div>
    </div>
    </a>
  </div>
</div>


</div>

<div class="container reveal">
  <div class="d-flex row justify-content-center" style="padding-top: 0px;">
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '01a.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '02a.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '03a.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '04a.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '05a.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '06a.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '07a.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '08a.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '09a.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '10a.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '11a.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '12a.png', :class => "logo_pictures" %>
    </div>
  </div>
</div>

  <script type="text/javascript">
     window.addEventListener('scroll', reveal);

     function reveal(){
      var reveals = document.querySelectorAll('.reveal');

      for(var i = 0; i < reveals.length; i++){

        var windowheight = window.innerHeight;
        var revealtop = reveals[i].getBoundingClientRect().top;
        var revealpoint = 150;

        if(revealtop < windowheight - revealpoint){
          reveals[i].classList.add('active');
        }
        else{
          reveals[i].classList.remove('active');
        }
      }
     }
    </script>


<%= render 'shared/footer-contact' %>




