<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<%= render 'shared/navbar' %>

<div class="homepage_container">

 <section class="section-ux-design">
  <%= video_tag "video.MP4", autoplay: :autoplay, loop: :loop, muted: :muted, id: "video" %>
  <div class="overlay-text">
    <div class="section_1 home_section_1 container" id="home">
      <div class="d-flex row align-items-center justify-content-center">
        <div class="col-lg-7">
          <div class="above_header box animate fadeInUp">European-based eCommerce agency.</div>
          <h1 class="home_heading box animate fadeInUp">So, you’ve decided to launch a webshop?</h1>
          <p class="home_para box animate fadeInUp" style="font-weight: bold;">Welcome to MITA Group, the leading Full-Service eCommerce Agency.</p>
          <p class="home_para box animate fadeInUp" style="padding-bottom: 20px;">We help brands drive more sales since 1997. Share your vision with us, and we will develop strategy, create content, code a web store, and generate sales using the best PPC advertising strategies and channels.</p>
          <a class="button_cta inline-block d-flex row align-items-center justify-content-center box animate fadeInUp" href="/ecommerce" style="text-decoration: none; padding-left:0px; margin-right: 0; margin-left: 0;" >
               <!--  <%= image_tag 'strelica.png', :style => "width:30px; margin-right:10px;" %> -->
                Start now
          </a>
        </div>
        <div class="mobitel_slika_hom col-lg-5 box animate u--zoomIn" >
          <%= image_tag "webexample.png", :style => "width:100%;", class: "section_float" %>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="services-div">
  <div class="container">
    <div class="d-flex row align-items-center" style="vertical-align: top;">
      <div class="left col-lg-6">
        <h2 class="services_h2_bigger reveal u--zoomIn">We build powerful, fast, responsive, and highly optimised online stores. </h2>
        <p class="services_p2 reveal" style="padding-bottom: 20px;">The online store is the most important part of your business. Getting it right from the start is crucial. We will focus on great design, highlighting your products, optimising your store and single product pages, and simplifying the checkout process.</p>
        <div class="reveal"><a class="reveal button_cta_normal" href="/ecommerce">Learn More</a></div>
      </div>
      <div class="right cyber-col col-lg-6 d-flex row justify-content-center" >
        <%= image_tag "PHASE06.gif", class: "reveal section_float" ,id: "video_animation", style: "width:80%;" %>
      </div>
    </div>
  </div>
</div>

<div class="services-div_red">
  <div class="container">
    <div class="d-flex row align-items-center" style="vertical-align: top;">
      <div class="cyber-col col-lg-6" >
        <%= image_tag "PHASE03.gif", class: "reveal" ,id: "video_animation" %>
      </div>
      <div class="col-lg-6">
        <h2 class="services_h2_bigger_white reveal">We design beautiful websites and online stores that drive sales. </h2>
        <p class="services_p2_white reveal" style="padding-bottom: 20px;">The layout of your webshop (UI) and the way that customers navigate through the page  (UX) communicate directly with your customers, providing them with all of the vital information about the products your business offers.</p>
        <div class="reveal"><a class="reveal button_cta_normal_white" href="/webdesign">Learn More</a></div>
      </div>
    </div>
  </div>
</div>

<div class="services-div" >
  <div class="container">
    <div class="d-flex row align-items-center" style="vertical-align: top;">
      <div class="left col-lg-6">
        <h2 class="services_h2_bigger reveal">We produce content that will engage and convert visitors into customers. </h2>
        <p class="services_p2 reveal" style="padding-bottom: 20px;">Online success depends on the stories you write, testimonials, photos and videos you produce and share on your online store, blog or social media. </p>
        <a class="reveal button_cta_normal" href="/content-creation">Learn More</a>
      </div>
      <div class="right cyber-col col-lg-6" >
        <%= image_tag "PHASE05.gif", class: "reveal" ,id: "video_animation" %>
      </div>
    </div>
  </div>
</div>

<div class="services-div_red">
  <div class="container">
    <div class="d-flex row align-items-center" style="vertical-align: top;">
      <div class="cyber-col col-lg-6" >
        <%= image_tag "PHASE04.gif", class: "reveal" ,id: "video_animation" %>
      </div>
      <div class="col-lg-6">
        <h2 class="services_h2_bigger_white reveal">We create adverts that will convert visitors to customers. </h2>
        <p class="services_p2_white reveal" style="padding-bottom: 20px;">Visual identity and content will differentiate you from the competitors, attract attention and convert better than anything else.</p>
        <a class="reveal button_cta_normal_white" href="/graphic-design">Learn More</a>
      </div>
    </div>
  </div>
</div>

<div class="services-div">
  <div class="container">
    <div class="d-flex row align-items-center" style="vertical-align: top;">
      <div class="left col-lg-6">
        <h2 class="services_h2_bigger reveal">We help clients drive more bookings and sales with digital, PPC advertising.</h2>
        <p class="services_p2 reveal" style="padding-bottom: 20px;">Our paid media experts will work to develop a strategy and approach that will help you achieve sales goals with less advertising money spent.</p>
        <a class="reveal button_cta_normal" href="/ppc-marketing">Learn More</a>
      </div>
      <div class="right cyber-col col-lg-6" >
        <%= image_tag "PHASE08.gif", class: "reveal" ,id: "video_animation" %>
      </div>
    </div>
  </div>
</div>

<div class="services-div_red">
  <div class="container">
    <div class="d-flex row align-items-center" style="vertical-align: top;">
      <div class="cyber-col col-lg-6" >
        <%= image_tag "PHASE07.gif", class: "reveal" ,id: "video_animation" %>
      </div>
      <div class="col-lg-6">
        <h2 class="services_h2_bigger_white reveal">We create powerful strategies for SEO optimisation to rank your online store on Google. </h2>
        <p class="services_p2_white reveal" style="padding-bottom: 20px;">The best industry experts will help you create the best strategy to list your web store on the first page of Search Engine Results (SEO) without additional payment.</p>
        <a class="reveal button_cta_normal_white" href="/seo">Learn More</a>
      </div>
    </div>
  </div>
</div>

<div class="services-div">
  <div class="container">
    <div class="d-flex row align-items-center" style="vertical-align: top;">
      <div class="left col-lg-6">
        <h2 class="services_h2_bigger reveal">We create customer support, loyalty programs and social media strategies to increase your sales. </h2>
        <p class="services_p2 reveal" style="padding-bottom: 20px;">Sales have moved online, and social media is the most common place where customers first come into contact with a brand or advertisement. Our strategies are based on detailed analyses of large amounts of data and vast experience. </p>
        <a class="reveal button_cta_normal" href="/social-media">Learn More</a>
      </div>
      <div class="right cyber-col col-lg-6" >
        <%= image_tag "PHASE07.gif", class: "reveal" ,id: "video_animation" %>
      </div>
    </div>
  </div>
</div>

<div class="services-div_red">
  <div class="container">
    <div class="d-flex row align-items-center" style="vertical-align: top;">
      <div class="cyber-col col-lg-6" >
        <%= image_tag "phase01.gif", class: "reveal" ,id: "video_animation" %>
      </div>
      <div class="col-lg-6">
        <h2 class="services_h2_bigger_white reveal">We advise based on three decades of experience and provide ongoing support. </h2>
        <p class="services_p2_white reveal" style="padding-bottom: 20px;">Based on desktop research and three decades of experience, we will determine how your online store should look, which products, at what price, and to which target group it is best to sell your products. </p>
        <a class="reveal button_cta_normal_white" href="/consulting">Learn More</a>
      </div>
    </div>
  </div>
</div>


<div class="section_2" id="featuredWork">
  <div class="container" style="padding: 100px 0;">
    <h1 class="home_heading_black reveal">Helping brands drive more sales since 1997:</h1>
    <div class="section_tri d-flex row reveal" style="padding-top: 50px; padding-bottom: 30px;">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <span class="dot1"></span>
        <div class="section_tri_text">
          <h2 class="section_tri_header">€50+ million</h2>
          <p class="section_tri_para">generated sales <br>growth for our clients</p>
        </div>
      </div>
      <div class="col-padd col-lg-4 col-md-4 col-sm-12">
        <span class="dot1"></span>
        <div class="section_tri_text">
          <h2 class="section_tri_header">500.000+</h2>
          <p class="section_tri_para ">generated sales<br> leads</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <span class="dot1"></span>
        <div class="section_tri_text">
          <h2 class="section_tri_header">500.000+</h2>
          <p class="section_tri_para">created ads<br></p>
        </div>
      </div>
  </div>
</div>
</div>

<div class="section_3_mita" style="padding: 150px 0; ">
  <div class="section_black_cover" style="margin-bottom: -29px;">
  <div class="container">
    <h1 class="home_heading_second reveal">We Know Better<br>Than Anyone Else</h1>
    <div class="row reveal" style="padding-bottom: 40px; padding-top: 30px;">
      <div class="col-lg-6 col-sm-12">
        <div class="row_3_padd col-lg-10 col-sm-12">
          <div class="section_services_row_text"><h2 class="section_3_h_2_novi">What the optimal campaign period is;</h2><p class="section_3_p_2_novi"> after that, the number of leads drops, and acquisition cost rises;</p></div>
        </div>


        <div class="row_3_padd col-lg-10 col-sm-12">
          <div class="section_services_row_text"><h2 class="section_3_h_2_novi">The percentage of all visits and leads</h2><p class="section_3_p_2_novi"> coming from mobile phones;</p></div>
        </div>

        <div class="row_3_padd col-lg-10 col-sm-12">
          <div class="section_services_row_text"><h2 class="section_3_h_2_novi">The part of an ad customers do not like,</h2><p class="section_3_p_2_novi"> when potential customers stop viewing video ads, and how to improve video ad conversion;</p></div>
        </div>

        <div class="row_3_padd col-lg-10 col-sm-12">
          <div class="section_services_row_text"><h2 class="section_3_h_2_novi">The difference</h2><p class="section_3_p_2_novi"> in conversation rates of video ads and simple animations;</p></div>
        </div>
      </div>

      <div class="col-lg-6 col-sm-12">
        <div class="row_3_padd col-lg-10 col-sm-12">
          <div class="section_services_row_text"><h2 class="section_3_h_2_novi">The percentage of leads generated</h2><p class="section_3_p_2_novi">within the first 5 days of the campaign, and the percentage of leads generated after that;</p></div>
        </div>

        <div class="row_3_padd col-lg-10 col-sm-12">
          <div class="section_services_row_text"><h2 class="section_3_h_2_novi">The most effective web banners,</h2><p class="section_3_p_2_novi"> and the second best ones;</p></div>
        </div>

        <div class="row_3_padd col-lg-10 col-sm-12">
          <div class="section_services_row_text"><h2 class="section_3_h_2_novi">The best ratio between Google Display and Premium ads</h2><p class="section_3_p_2_novi"> on web portals, and ads with the best conversion rate and conversion cost;</p></div>
        </div>

        <div class="row_3_padd col-lg-10 col-sm-12">
          <div class="section_services_row_text"><h2 class="section_3_h_2_novi">Which digital channels</h2><p class="section_3_p_2_novi"> work for different target groups.</p></div>
        </div>
      </div>
    </div>
    </div>
    </div>


</div>
    <div class="container">

      <a class="button_1_div inline-block d-flex row align-items-center justify-content-center reveal" href="/services" style="text-decoration: none; padding-left:0px; margin-right: 0; margin-left: 0;" >
        <div>
          <%= image_tag 'strelica.png', :style => "width:30px; margin-right:10px;" %>
        </div>
        <div>
          Learn more
        </div>
      </a>
    </div>


<div class="section_11">
  <div class="container">
    <p style="padding-top: 30px; color: #fff;"><br> </p>
  </div>
</div>
<div class="section_4">
  <div class="container">
    <a href="stories/25k-sales-leads-generated-in-banking" style="text-decoration: none;">
      <div class="sections_rows d-flex row reveal">
        <div class="row_1 col-lg-7 col-md-8 col-sm-12">
          <h4 class="sections_h4">ONE OF THE LARGEST FINANCIAL SERVICES PROVIDER IN CEE REGION</h4>
          <h2 class="sections_h2_4">25k+ sales leads generated in banking</h2>
          <p class="sections_p">We generated more than 25.000 sales leads for loans and mortgages in 2020.</p>
        </div>
        <div class="row_2 col-lg-5 col-md-4 col-sm-12 d-flex justify-content-center align-items-center">
          <%= image_tag '01-1.png', :class => "home_pictures" %>
        </div>
      </div>
    </a>
  </div>
</div>
<div class="section_5">
  <div class="container">
    <a href="stories/we-increased-number-of-sales-leads-by-33" style="text-decoration: none;">
      <div class="sections_rows d-flex row reveal">
        <div class="row_1 col-lg-7 col-md-8 col-sm-12">
          <h4 class="sections_h4">ONE OF THE LARGEST INSURANCE COMPANIES IN ADRIATIC REGION</h4>
          <h2 class="sections_h2_5">33% more sales leads  generated</h2>
          <p class="sections_p">We exceeded expectations in the midst of the Covid-19 pandemic.</p>
        </div>
        <div class="row_2 col-lg-5 col-md-4 col-sm-12 d-flex justify-content-center align-items-center" >
          <%= image_tag '02-2.png', :class => "home_pictures" %>
        </div>
      </div>
    </a>
  </div>
</div>
<div class="section_6">
  <div class="container">
    <a href="stories/13x-more-registrations-to-e-wallet" style="text-decoration: none;">
      <div class="sections_rows d-flex row reveal">
        <div class="row_1 col-lg-7 col-md-8 col-sm-12">
          <h4 class="sections_h4">STATE OWNED LOTTERY OF BOSNIA AND HERZEGOVINA</h4>
          <h2 class="sections_h2_6">13x more registrations to e-wallet</h2>
          <p class="sections_p">700% internet sales growth</p>
        </div>
        <div class="row_2 col-lg-5 col-md-4 col-sm-12 d-flex justify-content-center align-items-center">
          <%= image_tag '03-3.png', :class => "home_pictures" %>
        </div>
      </div>
    </a>
  </div>
</div>
<div class="section_7">
  <div class="container">
    <a href="stories/meeting-sales-objectives-using-digital-adveertising" style="text-decoration: none;">
    <div class="sections_rows d-flex row reveal">
      <div class="row_1 col-lg-7 col-md-8 col-sm-12">
        <h4 class="sections_h4">ONE OF THE WORLD'S LARGEST BRANDS IN THE CONSTRUCTION INDUSTRY</h4>
        <h2 class="sections_h2_7">+5k social media followers</h2>
        <p class="sections_p">We helped a client to achieve sales goals using digital channels despite huge inflation in the construction industry.</p>
      </div>
        <div class="row_2 col-lg-5 col-md-4 col-sm-12 d-flex justify-content-center align-items-center">
        <%= image_tag '04-4.png', :class => "home_pictures" %>
      </div>
    </div>
    </a>
  </div>
</div>
<div class="section_8">
  <div class="container">
    <a href="stories/" style="text-decoration: none;">
    <div class="sections_rows d-flex row reveal">
      <div class="row_1 col-lg-7 col-md-8 col-sm-12">
        <h4 class="sections_h4">SMALL FRENCH BAKERY</h4>
        <h2 class="sections_h2_8">Branding as  a competitive  advantage</h2>
        <p class="sections_p">From an idea and a logo to the leading brand in the industry on the whole.</p>
      </div>
      <div class="row_2 col-lg-5 col-md-4 col-sm-12 d-flex justify-content-center align-items-center">
        <%= image_tag '05-5.png', :class => "home_pictures" %>
      </div>
    </div>
    </a>
  </div>
</div>
<!--
<div class="section_9">
  <div class="container">
    <a href="stories/" style="text-decoration: none;">
    <div class="sections_rows d-flex row">
      <div class="row_1 col-lg-7 col-md-8 col-sm-12">
        <h4 class="sections_h4">HOODIE SMALL FASHION BRAND</h4>
        <h2 class="sections_h2_9">3.4x<br>increase in<br>sales on<br>social media</h2>
        <p class="sections_p">From an idea and a logo to the leading brand in the industry on the whole.</p>
      </div>
      <div class="row_2 col-lg-5 col-md-4 col-sm-12 d-flex justify-content-center align-items-center">
        <div><%= image_tag '06-6.png', :class => "home_pictures" %></div>
      </div>
    </div>
    </a>
  </div>
</div> -->

<div class="section_9_2 ">
  <div class="container">
    <a href="stories/20k-app-downloads-in-the-first-month" style="text-decoration: none;">
    <div class="sections_rows d-flex row reveal">
      <div class="row_1 col-lg-7 col-md-8 col-sm-12">
        <h4 class="sections_h4">CONTENT CREATOR APP</h4>
        <h2 class="sections_h2_9_2">20k+ app downloads  in the first month</h2>
        <p class="sections_p">We know how to launch an application to the global market.</p>
      </div>
      <div class="row_2 col-lg-5 col-md-4 col-sm-12 d-flex justify-content-center align-items-center">
        <div><%= image_tag '07-7.png', :class => "home_pictures" %></div>
      </div>
    </div>
    </a>
  </div>
</div>


</div>

<!-- <div class="container reveal">
  <div class="d-flex row justify-content-center" style="padding-top: 0px;">
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '01a.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '02a.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '03a.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '04a.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '05a.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '06a.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '07a.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '08a.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '09a.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '10a.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '11a.png', :class => "logo_pictures" %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
      <%= image_tag '12a.png', :class => "logo_pictures" %>
    </div>
  </div>
</div>
 -->

<!-- <div class="section_2 list-mita-ser container" style="z-index: -100; padding-top:10px; padding-bottom:70px;">
  <h2 class="home_heading_h2"><br> Choose our services</h2>
  <hr style="width: 150px; text-align: center; color:#5b5b5b;">
  <p class="home_para_black">We will do it for you</p>
  <section class="dl-blurbs first_dl" style="padding-top:50px;">
    <dl>
      <dt> <%= image_tag '01planning.png', :style => "width:60px; margin-right:10px;" %> PLANNING </dt>
      <dd>Research (Industry, Market, Customers) <br>Strategy (Market plan, Timeline)</dd>
      <dt><%= image_tag '02legalfinance.png', :style => "width:60px; margin-right:10px;" %> LEGAL&FINANCE </dt>
      <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</dd>
      <dt><%= image_tag '03uxui.png', :style => "width:60px; margin-right:10px;" %> UX&UI</dt>
      <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</dd>
      <dt><%= image_tag '04graphicdesign.png', :style => "width:60px; margin-right:10px;" %> DESIGN </dt>
      <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</dd>
      <dt><%= image_tag '05content.png', :style => "width:60px; margin-right:10px;" %> CONTENT</dt>
      <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</dd>
    </dl>
    <dl>
      <dt><%= image_tag '06development.png', :style => "width:60px; margin-right:10px;" %> DEVELOPMENT </dt>
      <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</dd>
      <dt><%= image_tag '07seo.png', :style => "width:60px; margin-right:10px;" %> SEO </dt>
      <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</dd>
      <dt><%= image_tag '08sales.png', :style => "width:60px; margin-right:10px;" %> SALES & ADVERTISING</dt>
      <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</dd>
      <dt><%= image_tag '09customersupport.png', :style => "width:60px; margin-right:10px;" %> CUSTOMER SUPPORT </dt>
      <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</dd>
      <dt> <%= image_tag '10support.png', :style => "width:60px; margin-right:10px;" %> SUPPORT&IMPROVEMENT </dt>
      <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</dd>
    </dl>
    </section>
</div>
 -->

  <!-- <div class="container d-flex justify-content-center">
    <div class="lista-home">
      <ol>
        <li>PLANNING</li>
        <li>LEGAL&FINANCE</li>
        <li>UX & UI</li>
        <li>DESIGN</li>
        <li>CONTENT</li>
        <li>DEVELOPMENT</li>
        <li>SEO</li>
        <li>SALES & ADVERTISING</li>
        <li>CUSTOMER SUPPORT</li>
        <li>SUPPORT & IMPROVEMENT</li>
      </ol>
    </div>
  </div> -->


<%= render 'shared/footer-contact' %>

