<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<%= render 'shared/navbar' %>

<%= title 'MITA Group: A Full Service eCommerce Agency ' %>
<% description 'MITA Group is a full service eCommerce agency. Our video ads, photo content and PPC advertising strategies will boost your sales instantly.' %>
<% keywords 'ecommerce ppc agency' %>

<div class="homepage_container">
 <section class="section-ux-design">

 <%= video_tag "video.MP4", playsinline: :playsinline, autoplay: :autoplay, loop: :loop, muted: :muted, id: "video" %> 

  <div class="overlay-text">
    <div class="section_1 home_section_1 container" id="home">
      <div class="d-flex row align-items-center justify-content-center">
        <div class="col-lg-7">
          <div class="above_header box animate fadeInUp">European-based eCommerce agency.</div>
          <h1 class="home_heading box animate fadeInUp">So, you’ve decided to launch a <span style="">webshop?</span></h1>
          <p class="home_para box animate fadeInUp" style="font-weight: bold;">Welcome to MITA Group, the leading Full-Service eCommerce Agency.</p>
          <p class="home_para box animate fadeInUp" style="padding-bottom: 20px;">We help brands drive more sales since 1997. Share your vision with us, and we will develop strategy, create content, code a web store, and generate sales using the best PPC advertising strategies and channels.</p>
          <a class="button_cta inline-block d-flex row align-items-center justify-content-center box animate fadeInUp" href="/contacts" style="text-decoration: none; padding-left:0px; margin-right: 0; margin-left: 0;">Start now</a>
        </div>
        <div class="mobitel_slika_hom col-lg-5 box animate u--zoomIn" >
          <%= image_tag "https://imagedelivery.net/kbdeQbZSIKXp-ZjvXBIJDQ/510232e5-5f17-48d8-0081-35e9dcda7100/public", :style => "width:100%;", class: "section_float", loading: "lazy" %>
        </div>

      </div>
    </div>
  </div>
</section>

<div class="services-div">
  <div class="container">
    <div class="d-flex row align-items-center" style="vertical-align: top;">
      <div class="left col-lg-6">
        <h2 class="services_h2_bigger reveal u--zoomIn">We <span style="color:#000;">develop</span> powerful, fast, responsive, and highly optimised online stores.</h2>
        <p class="services_p2 reveal" style="padding-bottom: 20px;">The online store is the most important part of your business. Getting it right from the start is crucial. We will focus on great design, highlighting your products, optimising your store and single product pages, and simplifying the checkout process.</p>
        <div class="reveal"><a class="reveal button_cta_normal" href="/ecommerce">Learn More</a></div>
      </div>
      <div class="right cyber-col col-lg-6 d-flex row justify-content-center" >
        <%= image_tag "https://imagedelivery.net/kbdeQbZSIKXp-ZjvXBIJDQ/f2f3bc3b-1e65-474c-e928-6f6414f37100/public", class: "reveal" ,id: "video_animation", loading: "lazy" %>
      </div>
    </div>
  </div>
</div>

<div class="services-div_red">
  <div class="container">
    <div class="d-flex row align-items-center" style="vertical-align: top;">
      <div class="cyber-col-white col-lg-6" >
        <%= image_tag "https://imagedelivery.net/kbdeQbZSIKXp-ZjvXBIJDQ/98cfb3dd-e810-4caa-4985-330da7c26d00/public", class: "reveal" ,id: "video_animation", loading: "lazy" %>
      </div>
      <div class="col-lg-6">
        <h2 class="services_h2_bigger_white reveal">We <span style="color:#000;">design</span> beautiful websites and online stores that drive sales. </h2>
        <p class="services_p2_white reveal" style="padding-bottom: 20px;">The layout of your webshop (UI) and the way that customers navigate through the page  (UX) communicate directly with your customers, providing them with all of the vital information about the products your business offers.</p>
        <div class="reveal"><a class="reveal button_cta_normal_white" href="/webdesign">Learn More</a></div>
      </div>
    </div>
  </div>
</div>

<div class="services-div" >
  <div class="container">
    <div class="d-flex row align-items-center" style="vertical-align: top;">
      <div class="left col-lg-6">
        <h2 class="services_h2_bigger reveal">We <span style="color:#000;">produce content</span> that will engage and convert visitors into customers. </h2>
        <p class="services_p2 reveal" style="padding-bottom: 20px;">Online success depends on the stories you write, testimonials, photos and videos you produce and share on your online store, blog or social media.</p>
        <a class="reveal button_cta_normal" href="/content-creation">Learn More</a>
      </div>
      <div class="right cyber-col col-lg-6" >
        <%= image_tag "https://imagedelivery.net/kbdeQbZSIKXp-ZjvXBIJDQ/7fbecab4-3a86-42d8-4b21-7592eb271500/public", class: "reveal" ,id: "video_animation", loading: "lazy" %>
      </div>
    </div>
  </div>
</div>

<div class="services-div_red">
  <div class="container">
    <div class="d-flex row align-items-center" style="vertical-align: top;">
      <div class="cyber-col-white col-lg-6" >
        <%= image_tag "https://imagedelivery.net/kbdeQbZSIKXp-ZjvXBIJDQ/ffb250ac-1508-467d-8a9c-2b9a04ad2700/public", class: "reveal" ,id: "video_animation", loading: "lazy" %>
      </div>
      <div class="col-lg-6">
        <h2 class="services_h2_bigger_white reveal">We <span style="color:#000;">design adverts</span>, promo materials and HTML banners that drive results </h2>
        <p class="services_p2_white reveal" style="padding-bottom: 20px;">Visual identity and content will differentiate you from the competitors, attract attention and convert better than anything else.</p>
        <a class="reveal button_cta_normal_white" href="/graphic-design">Learn More</a>
      </div>
    </div>
  </div>
</div>

<div class="services-div">
  <div class="container">
    <div class="d-flex row align-items-center" style="vertical-align: top;">
      <div class="left col-lg-6">
        <h2 class="services_h2_bigger reveal">We help clients drive more bookings and sales with digital, <span style="color:#000;">PPC advertising.</span></h2>
        <p class="services_p2 reveal" style="padding-bottom: 20px;">Our paid media experts will work to develop a strategy and approach that will help you achieve sales goals with less advertising money spent.</p>
        <a class="reveal button_cta_normal" href="/ppc-marketing">Learn More</a>
      </div>
      <div class="right cyber-col col-lg-6" >
        <%= image_tag "https://i.postimg.cc/6Q1MjQJt/03mockup.png", class: "reveal" ,id: "video_animation", loading: "lazy" %>
      </div>
    </div>
  </div>
</div>

<div class="services-div_red">
  <div class="container">
    <div class="d-flex row align-items-center" style="vertical-align: top;">
      <div class="cyber-col-white col-lg-6" >
        <%= image_tag "https://imagedelivery.net/kbdeQbZSIKXp-ZjvXBIJDQ/164159d4-6132-4bda-b7c2-c323fa3bdc00/public", class: "reveal" ,id: "video_animation", loading: "lazy" %>
      </div>
      <div class="col-lg-6">
        <h2 class="services_h2_bigger_white reveal">We create powerful <span style="color:#000;">SEO strategies</span> to rank your online store on Google.</h2>
        <p class="services_p2_white reveal" style="padding-bottom: 20px;">The best industry experts will help you create the best strategy to list your web store on the first page of Search Engine Results (SEO) without additional payment</p>
        <a class="reveal button_cta_normal_white" href="/seo">Learn More</a>
      </div>
    </div>
  </div>
</div>

<div class="services-div">
  <div class="container">
    <div class="d-flex row align-items-center" style="vertical-align: top;">
      <div class="left col-lg-6">
        <h2 class="services_h2_bigger reveal">We create <span style="color:#000;">customer support, loyalty programs and social media strategies</span> to increase your sales</h2>
        <p class="services_p2 reveal" style="padding-bottom: 20px;">Sales have moved online, and social media is the most common place where customers first come into contact with a brand or advertisement. Our strategies are based on detailed analyses of large amounts of data and vast experience.</p>
        <a class="reveal button_cta_normal" href="/social-media">Learn More</a>
      </div>
      <div class="right cyber-col col-lg-6" >
        <%= image_tag "https://imagedelivery.net/kbdeQbZSIKXp-ZjvXBIJDQ/0b82d01e-d7e2-4446-63bc-a465aec6d700/public", class: "reveal" ,id: "video_animation", loading: "lazy" %>
      </div>
    </div>
  </div>
</div>

<div class="services-div_red">
  <div class="container">
    <div class="d-flex row align-items-center" style="vertical-align: top;">
      <div class="cyber-col-white col-lg-6" >
        <%= image_tag "https://imagedelivery.net/kbdeQbZSIKXp-ZjvXBIJDQ/289ca159-96cf-4281-e407-530f0643a100/public", class: "reveal" ,id: "video_animation", loading: "lazy" %>
      </div>
      <div class="col-lg-6">
        <h2 class="services_h2_bigger_white reveal">We <span style="color:#000;">advise</span> based on three decades of experience and provide ongoing support. </h2>
        <p class="services_p2_white reveal" style="padding-bottom: 20px;">Based on desktop research and three decades of experience, we will determine how your online store should look, which products, at what price, and to which target group it is best to sell your products. </p>
        <a class="reveal button_cta_normal_white" href="/consulting">Learn More</a>
      </div>
    </div>
  </div>
</div>


<div class="section_2 margin-2-sec" id="featuredWork">
  <div class="container">
    <h1 class="home_heading_black reveal">Helping brands drive more sales since 1997:</h1>
    <div class="section_tri d-flex row reveal" style="padding-top: 50px; padding-bottom: 30px;">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <span class="dot1"></span>
        <div class="section_tri_text">
          <h2 class="section_tri_header">€50+ million
          <p class="section_tri_para">generated sales <br>growth for our clients</p></h2>
          
        </div>
      </div>
      <div class="col-padd col-lg-4 col-md-4 col-sm-12">
        <span class="dot1"></span>
        <div class="section_tri_text">
          <h2 class="section_tri_header">500.000+
        <p class="section_tri_para ">generated sales<br> leads</p>
</h2>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <span class="dot1"></span>
        <div class="section_tri_text">
          <h2 class="section_tri_header">500.000+
                    <p class="section_tri_para">created ads<br></p>
</h2>
        </div>
      </div>
  </div>
</div>
</div>

<div class="section_3_mita" style="padding: 0px 0; ">
  <div class="section_black_cover" style="margin-bottom: -29px;">
    <div class="container">
      <h2 class="home_heading_second reveal">We Know Better<br>Than Anyone Else</h2>
      <div class="row reveal" style="padding-bottom: 40px; padding-top: 30px;">
        <div class="col-lg-6 col-sm-12">
          <div class="row_3_padd col-lg-10 col-sm-12">
            <div class="section_services_row_text"><h3 class="section_3_h_2_novi">What the optimal campaign period is;</h3><p class="section_3_p_2_novi"> after that, the number of leads drops, and acquisition cost rises;</p></div>
          </div>
          <div class="row_3_padd col-lg-10 col-sm-12">
            <div class="section_services_row_text"><h3 class="section_3_h_2_novi">The percentage of all visits and leads</h3><p class="section_3_p_2_novi"> coming from mobile phones;</p></div>
          </div>

          <div class="row_3_padd col-lg-10 col-sm-12">
            <div class="section_services_row_text"><h3 class="section_3_h_2_novi">The part of an ad customers do not like,</h3><p class="section_3_p_2_novi"> when potential customers stop viewing video ads, and how to improve video ad conversion;</p></div>
          </div>

          <div class="row_3_padd col-lg-10 col-sm-12">
            <div class="section_services_row_text"><h3 class="section_3_h_2_novi">The difference</h3><p class="section_3_p_2_novi"> in conversation rates of video ads and simple animations;</p></div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12">
          <div class="row_3_padd col-lg-10 col-sm-12">
            <div class="section_services_row_text"><h3 class="section_3_h_2_novi">The percentage of leads generated</h3><p class="section_3_p_2_novi">within the first 5 days of the campaign, and the percentage of leads generated after that;</p></div>
          </div>

          <div class="row_3_padd col-lg-10 col-sm-12">
            <div class="section_services_row_text"><h3 class="section_3_h_2_novi">The most effective web banners,</h3><p class="section_3_p_2_novi"> and the second best ones;</p></div>
          </div>

          <div class="row_3_padd col-lg-10 col-sm-12">
            <div class="section_services_row_text"><h3 class="section_3_h_2_novi">The best ratio between Google Display and Premium ads</h3><p class="section_3_p_2_novi"> on web portals, and ads with the best conversion rate and conversion cost;</p></div>
          </div>

          <div class="row_3_padd col-lg-10 col-sm-12">
            <div class="section_services_row_text"><h3 class="section_3_h_2_novi">Which digital channels</h3><p class="section_3_p_2_novi"> work for different target groups.</p></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    <div class="container">
      <a class="button_1_div inline-block d-flex row align-items-center justify-content-center reveal" href="/services" style="text-decoration: none; padding-left:0px; margin-right: 0; margin-left: 0;" >
        <div>
          <%= image_tag 'strelica.png', :style => "width:30px; margin-right:10px;" %>
        </div>
        <div>
          Learn more
        </div>
      </a>
    </div>


<div class="section_11">
  <div class="container">
    <p style="padding-top: 30px; color: #fff;"><br> </p>
  </div>
</div>


<%= render 'shared/footer-contact' %>

