<%= render 'shared/navbar_white' %>


<div class="services-div-main">
  <div class="container">
    <div class="d-flex row align-items-center" style="vertical-align: top;">
      <div class="col-lg-6">
        <h2 class="services_h2_bigger u--zoomIn">So, you want to place your business in front of customers that are searching for your services and products?</h2>
        <p class="services_p2 u--zoomIn" style="padding-bottom: 20px;">From paid search and display advertising to paid social campaigns, PAID ADVERTISING is crucial for brand awareness, Google position and affordable sales conversions on your web store. </p>
        <div class="u--zoomIn"><a class="button_cta_normal" href="/contacts">Tell us more</a></div>
      </div>
     <div class="cyber-col-web col-lg-6 u--zoomIn" >
          <%= image_tag "https://i.postimg.cc/6Q1MjQJt/03mockup.png", class: "section_float " ,id: "video_animation"%>
      </div>
    </div>
  </div>
</div>

<div class="services-new" style="padding-top: 10px;">
  <div class="container">
    <div class="d-flex row align-items-center" style="vertical-align: top;">
      <div class="col-lg-12" style="padding-bottom: 50px;">
          <h3 class="services_p2 reveal"><strong>We will set the right goals, set buying persona and customers journey, develop the paid advertising strategy, create different ads for different purposes, and monitor your campaign hourly and daily.</strong></h3>
          <p class="services_p2 reveal">
            From paid search and display advertising to paid social campaigns, PAID ADVERTISING is crucial for brand awareness, Google position and affordable sales conversions on your web store. We know that paid media game is highly competitive, but it doesn’t mean that you can’t be the best in the saturated market. Our paid media experts will work to develop a strategy and approach that will help you achieve sales goals with less advertising money spent.
            <br><br><strong>SETTING THE RIGHT GOALS</strong> with realistic and achievable KPIs (key performance indicators) is essential to the paid media strategy. Without goals and KPIs in place, advertisers don’t have any markers to see – where they start and where to go. We will set the right KPIs to help you reach new sales conversion heights. Based on that, we will choose which paid media platforms are best for you, which types of ads are best for you, and which lead management strategy you need. We’ll get you straight to where you need to go based on calculated measures that help us know what will do the job—and what won’t.
            <br><br><strong>SETTING YOUR BAYER PERSONA</strong> will identify who they are, where they spend their time most, and the best options for targeting them effectively.
            <br><br><strong>SETTING CUSTOMER YOURNEY</strong> is a roadmap detailing how a customer becomes aware of your brand, and the interactions they will have with your brand on their journey to become a customer—and beyond. This involves several stages: awareness, consideration, and decision divided into BOFU (bottom of the sales funnel) MOFU (middle of the sales funnel) and TOFU (top of the sales funnel) strategies. You will need all three if you want to show your customers that you understand them.
            <br><br><strong>DAILY ADS MONITORING</strong> is crucial for PPC optimisation. Our PPC experts don’t just set it and forget it. We monitor and optimize ads daily to ensure your advertising money is getting you results.
          </p>
          <p class="services_p2 reveal">
            <strong>CREATING DIFFERENT ADS</strong> for customers at each stage of their journey is one of the things we do best.
          </p>
          <ul class="services_p2 reveal">
            <li>During the first stage, we use clickable and brand awareness ads to navigate through the traditional media, networks of premium inventory and premium position web portals, social media (Facebook, Instagram, Pinterest, TikTok, YouTube), communication platforms (WhatsApp, Messenger, Viber), and search engines (Google) to reach the target group quickly, build brand awareness, collect data, and increase high quality targeted website/webshop traffic. </li>
            <li>During the second and third advertising stages, we focus on repeating exposure to increase engagement, generate sales leads databases and close sales at the lowest conversion costs. We use more appealing and converting ads for both phases based on consumer behaviour.</li>
          </ul>
          <p class="services_p2 reveal"><strong>WE KNOW BETTER THAN ANYONE ELSE:</strong></p>
          <ul class="services_p2 reveal">
            <li>What the optimal campaign period is; after that, the number of leads drops, and acquisition cost rises;</li>
            <li>The percentage of all visits and leads coming from mobile phones</li>
            <li>The part of ad customers do not like when potential customers stop viewing video ads and how to improve video ad conversion</li>
            <li>The difference in conversation rates of video ads and simple animations</li>
            <li>The percentage of leads generated within the first five days of the campaign and the percentage of leads generated after that</li>
            <li>The most effective web banners and the second best ones</li>
            <li>The best ratio between Google Display and Premium ads on publishers and ads with the best conversion rate and conversion cost</li>
            <li>Which digital channels work for different target groups</li>
          </ul>
          <h3 class="services_p2 reveal"><strong>Working with MITA Group means that you’ll have an experienced ads expert doing the following:</strong></h3>
          <ul class="services_p2 reveal">
          <div class="d-flex row">
            <div class="col-lg-6">
              <li>Multiple Audience Segmentation</li>
              <li>Ongoing Competitor Research</li>
              <li>Conversion Pixel Installation</li>
              <li>Google Analytics Installation</li>
              <li>Data Studio Installation</li>
              <li>Google Search, Display, Video, Performance Max Campaign Management</li>
              <li>Social Media Campaign Management s (Facebook, Instagram, TikTok, Pinterest, Linkedin, YouTube)</li>
              <li>Retargeting Campaigns</li>
              <li>New Custom and Lookalike Audiences</li>
              <li>Sponsored Likes And Followers Growth</li>
              <li>Ongoing Bid Optimization</li>
              <li>Engagement Rate Optimization</li>
            </div>
            <div class="col-lg-6">
              <li>Multiple New Image Ad Testing</li>
              <li>Custom Dashboard Reporting</li>
              <li>Lead Quality Improvements</li>
              <li>Direct Video Ad Targeting</li>
              <li>Micro-Targeted Audiences</li>
              <li>Hour/Day/Week Bid Improvements</li>
              <li>Shopping Campaign Improvements</li>
              <li>Ongoing ROI Improvement</li>
              <li>Messenger, Viber, WhatsApp Ads</li>
              <li>Cross networks Advertising</li>
              <li>Programmatic Advertising</li>
              <li>Native ads and PR</li>
              <li>Coupons, Giveaways, Discounts Campaigns</li>
              <li>E-mail marketing</li>
            </div>
          </div>
          </ul>
          <h3 class="services_p2 reveal"><strong>DATA-DRIVEN PROCESS</strong></h3>
          <p class="services_p2 reveal">We stay data-driven and rally around attribution because it gets clients' desired results. It would help if you had a springboard to create your paid media strategy to reach places. We make adjustments where needed and pivot accordingly. Data analysis and visualisation help us to:</p>
          <ul class="services_p2 reveal">
            <li>recognise the shopping and lifestyle habits of the target group,</li>
            <li>determine the touchpoints and the best time to place the ad,</li>
            <li>monitor changes in customer’s behaviour,</li>
            <li>measure sentiment,</li>
            <li>monitor the rate of leaving the website/online store,</li>
            <li>create and improve the sales funnel,</li>
            <li>increase the effectiveness of advertising and reduce the conversion rate for each ad.</li>
          </ul>
          <p class="services_p2 reveal">Does your marketing performance need a tune-up? </p>
        <div class="reveal" style="line-height:40px;"><br><a class="button_cta_normal" href="/contact">SCHEDULE A MEETING FOR PAID MEDIA STRATEGISTS</a></div>
      </div>
    </div>
  </div>
</div>


<div class="work-catalog">
  <div class="container">
    <h2 class="heading_black_webs reveal" style="margin-bottom: 50px; margin-top: 60px;">Check out some of our graphic design works:</h2>
    <div class="d-flex row justify-content-center reveal">
      <div class="col-lg-4 col-md-4 col-sm-2" >
        <%= image_tag "https://imagedelivery.net/kbdeQbZSIKXp-ZjvXBIJDQ/885d4651-90e3-48a8-0b35-e8b4222a2700/public", class: "our-work-picture" %>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-2">
        <%= image_tag "https://imagedelivery.net/kbdeQbZSIKXp-ZjvXBIJDQ/15e05f8a-8257-461c-4810-10e943474d00/public", class: "our-work-picture" %>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-2">
        <%= image_tag "https://imagedelivery.net/kbdeQbZSIKXp-ZjvXBIJDQ/8f93acdf-ed51-401f-d950-61a9ae572f00/public", class: "our-work-picture" %>
      </div>

    </div>
  </div>
</div>


