<%= render 'shared/navbarmobile' %>
<%= render 'shared/navbar_white_services' %>


<% title 'Professional eCommerce Development Service at Your Disposal!' %>
<% description 'Share your vision with us and our eCommerce development team will do the rest! Our full development service is at your disposal!' %>
<% keywords 'ecommerce development' %>


<div class="services-div-main">
  <div class="container">
    <div class="d-flex row align-items-center" style="vertical-align: top;">
      <div class="col-lg-6">
        <h1 class="services_h2_bigger u--zoomIn"><span style="color:#000">$3000</span> <br>Fast, responsive, and highly optimised online store in just 7 days </h1>
        <p class="services_p2 u--zoomIn" style="padding-bottom: 20px;"></p>
        <div class="u--zoomIn"><a class="button_cta_normal" href="/contacts">Contact us</a></div>
      </div>
      <div class="cyber-col-web col-lg-6" >
        <div class="desktop-comm">
          <div class="u--zoomIn d-flex row justify-content-center">
            <div class="col-lg-6" style="padding: 0;">
              <%= image_tag "https://imagedelivery.net/kbdeQbZSIKXp-ZjvXBIJDQ/325349cc-5c27-4837-d5c4-725a4db68200/public", class: "section_float_2" ,id: "video_animation", alt: "Mobello eCommerce Web development" %>
            </div>
            <div class="col-lg-6" style="padding: 0;">
              <%= image_tag "https://imagedelivery.net/kbdeQbZSIKXp-ZjvXBIJDQ/a99711b5-1ca7-4fec-b70f-6468326c5d00/public", class: "section_float" ,id: "video_animation", alt: "Ultramarinos eCommerce Web development" %>
            </div>
          </div>
        </div>
        <div class="mob-comm" style="margin-top: 50px;">
          <%= image_tag "https://imagedelivery.net/kbdeQbZSIKXp-ZjvXBIJDQ/f2f3bc3b-1e65-474c-e928-6f6414f37100/public", class: "section_float" ,id: "video_animation", alt: "eCommerce Web development" %>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="container mobile-pricing">
  <div class="d-flex row text-center align-items-stretch justify-content-center align-items-stretch">

    <div class="col-lg-4 mb-5 mb-lg-0">
      <div class="bg-white p-4 rounded-lg shadow">
        <h1 class="h6 text-uppercase font-weight-bold mb-4">Fast, responsive, and highly optimised online stores in just 7 days</h1>
        <h2 class="h1 font-weight-bold">$3000<span class="text-small font-weight-normal ml-2">USD</span></h2>
        <div class="custom-separator my-4 mx-auto bg-primary"></div>
        <ul class="list-unstyled my-5 text-small text-left" style="">
          <li class="mb-3">
            <i class="fa fa-check mr-2" style="color:#EC1C23;"></i>WooCommerce licensed theme and basic design customisation</li>
          <li class="mb-3">
            <i class="fa fa-check mr-2" style="color:#EC1C23;"></i>Homepage design and creation</li>
          <li class="mb-3">
            <i class="fa fa-check mr-2" style="color:#EC1C23;"></i>About us page</li>
          <li class="mb-3">
            <i class="fa fa-check mr-2" style="color:#EC1C23;"></i>Contact us page</li>
             <li class="mb-3">
            <i class="fa fa-check mr-2" style="color:#EC1C23;"></i>Grid Layout with filters and sorting for the shop page</li>
             <li class="mb-3">
            <i class="fa fa-check mr-2" style="color:#EC1C23;"></i>Technical optimisation/Speed optimisation</li>
             <li class="mb-3">
            <i class="fa fa-check mr-2" style="color:#EC1C23;"></i>Payment Implementation</li>
             <li class="mb-3">
            <i class="fa fa-check mr-2" style="color:#EC1C23;"></i>Training for orders and product management</li>
             <li class="mb-3">
            <i class="fa fa-check mr-2" style="color:#EC1C23;"></i>Two months of technical support for free</li>
             <li class="mb-3">
            <i class="fa fa-check mr-2" style="color:#EC1C23;"></i>Google Analytics, Tag Manager and Search Console setup</li>
             <li class="mb-3">
            <i class="fa fa-check mr-2" style="color:#EC1C23;"></i>On-page SEO - 10 Key SEO Parameters</li>
             <li class="mb-3">
            <i class="fa fa-check mr-2" style="color:#EC1C23;"></i>Email subscription for collecting sales contacts</li>
            <li class="mb-3">
            <i class="fa fa-check mr-2" style="color:#EC1C23;"></i>Automated daily backup for peaceful sleep*</li>
            <li class="mb-3">
            <i class="fa fa-check mr-2" style="color:#EC1C23;"></i>Meta Pixel Setup</li>
            <li class="mb-3">
            <i class="fa fa-check mr-2" style="color:#EC1C23;"></i>XML Sitemaps & Robots.txt</li>
            <li class="mb-3">
            * Seven days from the delivery of the content.</li>
        </ul>
        <a href="/contacts" class="btn btn-block p-2 shadow rounded-pill"  style=" background: #EC1C23; color: #fff;">Contact us</a>
      </div>
    </div>

    <div class="col-lg-4 mb-5 mb-lg-0 align-items-stretch">
      <div class="bg-white p-4 rounded-lg shadow">
        <h1 class="h6 text-uppercase font-weight-bold mb-4">OTHER WEB DEVELOPMENT SERVICES ON THE REQUEST</h1>
        <div class="custom-separator my-4 mx-auto bg-primary"></div>
        <ul class="list-unstyled my-5 text-small text-left" style="">
          <li class="mb-3">
            <i class="fa fa-check mr-2" style="color:#EC1C23;"></i>Unique design (UI/UX) for the webpage/webshop</li>
          <li class="mb-3">
            <i class="fa fa-check mr-2" style="color:#EC1C23;"></i>Privacy, Cookies, Terms, Shipping&Returns text and services</li>
          <li class="mb-3">
            <i class="fa fa-check mr-2" style="color:#EC1C23;"></i>Plugins for additional functionalities</li>
          <li class="mb-3">
            <i class="fa fa-check mr-2" style="color:#EC1C23;"></i>On-page SEO</li>
             <li class="mb-3">
            <i class="fa fa-check mr-2" style="color:#EC1C23;"></i>Off-page SEO</li>
             <li class="mb-3">
            <i class="fa fa-check mr-2" style="color:#EC1C23;"></i>Keywords research and setup</li>
             <li class="mb-3">
            <i class="fa fa-check mr-2" style="color:#EC1C23;"></i>Delivery and shiping service providers integration</li>
             <li class="mb-3">
            <i class="fa fa-check mr-2" style="color:#EC1C23;"></i>Automatisation</li>
             <li class="mb-3">
            <i class="fa fa-check mr-2" style="color:#EC1C23;"></i>Server recommendation and setup</li>
        </ul>
        <a href="/contacts" class="btn btn-block p-2 shadow rounded-pill"  style=" background: #EC1C23; color: #fff;">Contact us</a>
      </div>
    </div>


    <div class="col-lg-4 mb-5 mb-lg-0">
      <div class="bg-white p-4 rounded-lg shadow">
        <h1 class="h6 text-uppercase font-weight-bold mb-4">OTHER SERVICES ON THE REQUEST</h1>

        <div class="custom-separator my-4 mx-auto bg-primary"></div>

        <ul class="list-unstyled my-5 text-small text-left" style="">
          <li class="mb-3">
            <i class="fa fa-check mr-2" style="color:#EC1C23;"></i>Copywriting</li>
          <li class="mb-3">
            <i class="fa fa-check mr-2" style="color:#EC1C23;"></i>Photo and Video content production</li>
          <li class="mb-3">
            <i class="fa fa-check mr-2" style="color:#EC1C23;"></i>Google and Meta PPC advertising</li>
          <li class="mb-3">
            <i class="fa fa-check mr-2" style="color:#EC1C23;"></i>Social media integration and consulting</li>
             <li class="mb-3">
            <i class="fa fa-check mr-2" style="color:#EC1C23;"></i>Banners static, dynamic, and HTML ads</li>
             <li class="mb-3">
            <i class="fa fa-check mr-2" style="color:#EC1C23;"></i>Newsletters, catalogues and leaflets</li>
             <li class="mb-3">
            <i class="fa fa-check mr-2" style="color:#EC1C23;"></i>Coupons, blogs, native ads</li>

<!--             <li class="mb-3 text-muted">
            <i class="fa fa-times mr-2"></i>
            <del>Nam libero tempore</del>
          </li>
          <li class="mb-3 text-muted">
            <i class="fa fa-times mr-2"></i>
            <del>Sed ut perspiciatis</del>
          </li>
          <li class="mb-3 text-muted">
            <i class="fa fa-times mr-2"></i>
            <del>Sed ut perspiciatis</del>
          </li> -->
        </ul>
        <a href="/contacts" class="btn btn-block p-2 shadow rounded-pill"  style=" background: #EC1C23; color: #fff;">Contact us</a>
      </div>
    </div>
  </div>
</div>

<div class="container pricing-desktop">
  <div class="d-flex row text-center align-items-top justify-content-center">

    <div class="col-lg-4 mb-5 mb-lg-0">
      <div class="bg-white p-4 rounded-lg shadow">
        <h1 class="h6 text-uppercase font-weight-bold mb-4">OTHER WEB DEVELOPMENT SERVICES ON THE REQUEST</h1>
        <div class="custom-separator my-4 mx-auto bg-primary"></div>
        <ul class="list-unstyled my-5 text-small text-left" style="">
          <li class="mb-3">
            <i class="fa fa-check mr-2" style="color:#EC1C23;"></i>Unique design (UI/UX) for the webpage/webshop</li>
          <li class="mb-3">
            <i class="fa fa-check mr-2" style="color:#EC1C23;"></i>Privacy, Cookies, Terms, Shipping&Returns text and services</li>
          <li class="mb-3">
            <i class="fa fa-check mr-2" style="color:#EC1C23;"></i>Plugins for additional functionalities</li>
          <li class="mb-3">
            <i class="fa fa-check mr-2" style="color:#EC1C23;"></i>On-page SEO</li>
             <li class="mb-3">
            <i class="fa fa-check mr-2" style="color:#EC1C23;"></i>Off-page SEO</li>
             <li class="mb-3">
            <i class="fa fa-check mr-2" style="color:#EC1C23;"></i>Keywords research and setup</li>
             <li class="mb-3">
            <i class="fa fa-check mr-2" style="color:#EC1C23;"></i>Delivery and shiping service providers integration</li>
             <li class="mb-3">
            <i class="fa fa-check mr-2" style="color:#EC1C23;"></i>Automatisation</li>
             <li class="mb-3">
            <i class="fa fa-check mr-2" style="color:#EC1C23;"></i>Server recommendation and setup</li>
        </ul>
        <a href="/contacts" class="btn btn-block p-2 shadow rounded-pill"  style=" background: #EC1C23; color: #fff;">Contact us</a>
      </div>
    </div>

    <div class="col-lg-4 mb-5 mb-lg-0">
      <div class="bg-white p-4 rounded-lg shadow">
        <h1 class="h6 text-uppercase font-weight-bold mb-4">Fast, responsive, and highly optimised online stores in just 7 days</h1>
        <h2 class="h1 font-weight-bold">$3000<span class="text-small font-weight-normal ml-2">USD</span></h2>
        <div class="custom-separator my-4 mx-auto bg-primary"></div>
        <ul class="list-unstyled my-5 text-small text-left" style="">
          <li class="mb-3">
            <i class="fa fa-check mr-2" style="color:#EC1C23;"></i>WooCommerce licensed theme and basic design customisation</li>
          <li class="mb-3">
            <i class="fa fa-check mr-2" style="color:#EC1C23;"></i>Homepage design and creation</li>
          <li class="mb-3">
            <i class="fa fa-check mr-2" style="color:#EC1C23;"></i>About us page</li>
          <li class="mb-3">
            <i class="fa fa-check mr-2" style="color:#EC1C23;"></i>Contact us page</li>
             <li class="mb-3">
            <i class="fa fa-check mr-2" style="color:#EC1C23;"></i>Grid Layout with filters and sorting for the shop page</li>
             <li class="mb-3">
            <i class="fa fa-check mr-2" style="color:#EC1C23;"></i>Technical optimisation/Speed optimisation</li>
             <li class="mb-3">
            <i class="fa fa-check mr-2" style="color:#EC1C23;"></i>Payment Implementation</li>
             <li class="mb-3">
            <i class="fa fa-check mr-2" style="color:#EC1C23;"></i>Training for orders and product management</li>
             <li class="mb-3">
            <i class="fa fa-check mr-2" style="color:#EC1C23;"></i>Two months of technical support for free</li>
             <li class="mb-3">
            <i class="fa fa-check mr-2" style="color:#EC1C23;"></i>Google Analytics, Tag Manager and Search Console setup</li>
             <li class="mb-3">
            <i class="fa fa-check mr-2" style="color:#EC1C23;"></i>On-page SEO - 10 Key SEO Parameters</li>
             <li class="mb-3">
            <i class="fa fa-check mr-2" style="color:#EC1C23;"></i>Email subscription for collecting sales contacts</li>
            <li class="mb-3">
            <i class="fa fa-check mr-2" style="color:#EC1C23;"></i>Automated daily backup for peaceful sleep*</li>
            <li class="mb-3">
            <i class="fa fa-check mr-2" style="color:#EC1C23;"></i>Meta Pixel Setup</li>
            <li class="mb-3">
            <i class="fa fa-check mr-2" style="color:#EC1C23;"></i>XML Sitemaps & Robots.txt</li>
            <li class="mb-3">
            * Seven days from the delivery of the content.</li>
        </ul>
        <a href="/contacts" class="btn btn-block p-2 shadow rounded-pill"  style=" background: #EC1C23; color: #fff;">Contact us</a>
      </div>
    </div>

    <div class="col-lg-4 mb-5 mb-lg-0">
      <div class="bg-white p-4 rounded-lg shadow">
        <h1 class="h6 text-uppercase font-weight-bold mb-4">OTHER SERVICES ON THE REQUEST</h1>

        <div class="custom-separator my-4 mx-auto bg-primary"></div>

        <ul class="list-unstyled my-5 text-small text-left" style="">
          <li class="mb-3">
            <i class="fa fa-check mr-2" style="color:#EC1C23;"></i>Copywriting</li>
          <li class="mb-3">
            <i class="fa fa-check mr-2" style="color:#EC1C23;"></i>Photo and Video content production</li>
          <li class="mb-3">
            <i class="fa fa-check mr-2" style="color:#EC1C23;"></i>Google and Meta PPC advertising</li>
          <li class="mb-3">
            <i class="fa fa-check mr-2" style="color:#EC1C23;"></i>Social media integration and consulting</li>
             <li class="mb-3">
            <i class="fa fa-check mr-2" style="color:#EC1C23;"></i>Banners static, dynamic, and HTML ads</li>
             <li class="mb-3">
            <i class="fa fa-check mr-2" style="color:#EC1C23;"></i>Newsletters, catalogues and leaflets</li>
             <li class="mb-3">
            <i class="fa fa-check mr-2" style="color:#EC1C23;"></i>Coupons, blogs, native ads</li>

<!--             <li class="mb-3 text-muted">
            <i class="fa fa-times mr-2"></i>
            <del>Nam libero tempore</del>
          </li>
          <li class="mb-3 text-muted">
            <i class="fa fa-times mr-2"></i>
            <del>Sed ut perspiciatis</del>
          </li>
          <li class="mb-3 text-muted">
            <i class="fa fa-times mr-2"></i>
            <del>Sed ut perspiciatis</del>
          </li> -->
        </ul>
        <a href="/contacts" class="btn btn-block p-2 shadow rounded-pill"  style=" background: #EC1C23; color: #fff;">Contact us</a>
      </div>
    </div>
  </div>
</div>
