<div class="section_2" style="padding-top: 80px;">
  <div class="container">
    <h1 class="home_heading_black_per box animate fadeInUp">Performance<br>based advertising</h1>
    <p class="section_tri_para box animate fadeInUp" style="margin-top: 60px;">It doesn't matter if you sell products and services through your own web shop, through delivery
platforms or just collect sales leads, the fight for every customer on the Internet is getting harder every
day. Only well-designed and precisely implemented customer acquisition strategies will bring you a
cost-effective conversion cost and business growth. Our strategies are based on seven key steps.</p>
    <h3 class="section_7_steps box animate fadeInUp">7 steps to drive more sales</h3>
    <div class="container" style="padding-bottom: 50px; ">
      <!--   <%= image_tag 'levak.png', :class => "levak" %> -->
      <h3 class="section_7_steps_2 box animate fadeInUp">1. Raising brand awarness</h3>
      <h3 class="section_7_steps_2 box animate fadeInUp">2. Driving website traffic</h3>
      <h3 class="section_7_steps_2 box animate fadeInUp">3. Increasing engagement</h3>
      <h3 class="section_7_steps_2 box animate fadeInUp">4. Repeating exposure</h3>
      <h3 class="section_7_steps_2 box animate fadeInUp">5. Lead generation & menagement</h3>
      <h3 class="section_7_steps_2 box animate fadeInUp">6. Closing the sale</h3>
      <h3 class="section_7_steps_2 box animate fadeInUp">7. Building loyalty & retention</h3>
    </div>
  </div>
</div>
<div class="section_1">
  <div class="container">
    <h1 class="home_heading_services">Our services</h1>
    <div class="section_services_row d-flex row align-items-center" style="padding-bottom: 140px;">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="section_services_row_elements d-flex row align-items-center">
          <div class="emoji"><%= image_tag 'eye.png', :class => "emoji_picture" %></div>
          <div class="section_services_row_text"><p>Branding & Strategy</p></div>
        </div>
        <div class="section_services_row_elements d-flex row align-items-center">
          <div class="emoji"><%= image_tag 'like.png', :class => "emoji_picture" %></div>
          <div class="section_services_row_text"><p>Social Media Integration</p></div>
        </div>
        <div class="section_services_row_elements d-flex row align-items-center">
          <div class="emoji"><%= image_tag 'filter.png', :class => "emoji_picture" %></div>
          <div class="section_services_row_text"><p>Customer Acquisition<br>& Media Buying</p></div>
        </div>
        <div class="section_services_row_elements d-flex row align-items-center">
          <div class="emoji"><%= image_tag 'voice.png', :class => "emoji_picture" %></div>
          <div class="section_services_row_text"><p>Digital Advertising</p></div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="section_services_row_elements d-flex row align-items-center">
          <div class="emoji"><%= image_tag 'chat.png', :class => "emoji_picture" %></div>
          <div class="section_services_row_text"><p>SEO & Web <br>Optimisation</p></div>
        </div>
        <div class="section_services_row_elements d-flex row align-items-center">
          <div class="emoji"><%= image_tag 'camera.png', :class => "emoji_picture" %></div>
          <div class="section_services_row_text"><p>Production &<br>Web Development</p></div>
        </div>
        <div class="section_services_row_elements d-flex row align-items-center">
          <div class="emoji"><%= image_tag 'data.png', :class => "emoji_picture" %></div>
          <div class="section_services_row_text"><p>Data & Analytics</p></div>
        </div>
        <div class="section_services_row_elements d-flex row align-items-center">
          <div class="emoji"><%= image_tag 'web.png', :class => "emoji_picture" %></div>
          <div class="section_services_row_text"><p>Marketing Education</p></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section_2">
  <div class="container">
    <h1 class="home_heading_black">Branding<br>& strategy</h1>
    <div class="section_services_sections d-flex row align-items-end">
      <div class="col-lg-11 col-md-11 col-sm-12">
        <p class="section_tri_services_para" style="margin-top: 60px;">Izgled vašeg brenda ili proizvoda može biti vaša najveća konkurentska prednost. Bez obzira da li kreirate novi brend, promovirate ili (re)dizajnirate postojeći, naš kreativni odjel s više decenija iskustva će izraditi vizualni identitet, odabrati odgovarajuće boje, ton komunikacije, fotografije i videa koji će privući pažnju i emotivno komunicirati sa idealnim kupcima vašeg brenda.</p>
      </div>
      <!-- <div class="col-lg-1 col-md-1 col-sm-12">
        <%= image_tag 'eye2.png', :class => "emoji_services" %>
      </div> -->
    </div>
  </div>
</div>
<div class="section_4">
  <div class="container">
    <h1 class="sections_h2_4 serv_padd">SEO&Web<br>Optimisation</h1>
    <div class="section_services_sections d-flex row align-items-end">
      <div class="col-lg-11 col-md-11 col-sm-12">
        <p class="section_tri_services_para_white" style="margin-top: 60px;">SEO i web optimizacija su temelji za Performance Based Advertising, a samo najbolji stručnjaci znaju
        da sve što radite mora biti usaglašeno sa SEO i web optimizacijom.</p>
        <br>
        <ul class="ul_services">
          <strong style="font-family: 'Open Sans', sans-serif; font-weight: bold;">Ispravno optimiziranje i razvoj web stranica nam omogućava da:</strong>
          <li>Korisničko iskustvo bude prilagođeno ciljnoj skupini (UI)</li>
          <li>Ponuda bude jednostavnija i za klik kraća od konkurentskih (UX)</li>
          <li>Website bude izlistan na prvoj strani rezultata pretrage (SEO)</li>
          <li>Stranica bude učitana ispod 3 sekunde pri prosječnoj brzini mobilnog interneta
          (Development & Web Page Optimisation)</li>
        </ul>
        <br>
        <p class="section_tri_services_para_white">
        Neke od aktivnosti koje je potrebno poduzeti su: Branding, Keyword Research, Copywriting, UI, UX,
        Landing Page Optimisation, On-Page and Off-Page Optimisation, Customized Premium Content
        (Photo and Video), Social Media Integration, Community and Content Management, YouTube, Social
        Media Ads, Data Analytics...</p>
      </div>
  <!--     <div class="col-lg-1 col-md-1 col-sm-12">
        <%= image_tag 'chat2.png', :class => "emoji_services" %>
      </div> -->
    </div>
  </div>
</div>
<div class="section_5">
  <div class="container">
    <h1 class="sections_h2_5 serv_padd">Social Media<br>Integration</h1>
    <div class="section_services_sections d-flex row align-items-end">
      <div class="col-lg-11 col-md-11 col-sm-12">
        <p class="section_tri_services_para" style="margin-top: 60px;">Prodaja je izmještena na internet, a društveni mediji su najčešće mjesto na kojem kupci prvi put dođu u
kontakt s brendom ili reklamom. Naše strategije su bazirane na detaljnim analizama velikog broja
podataka i ogromnom iskustvu, a pomažu vam da:
poboljšate vođenja stranica na društvenim medijima (Facebook, Instagram, Linkedin, Google, TikTok,
Twitter, YouTube...) i uvežete komunikaciju na društvenim mrežama sa web stranicom kako biste
unaprijedili SEO i bili uvjerljivi u digitalnom svijetu.
<br><br>
Dobro osmišljene strategije, content i community aktivnosti će osigurati da se povežete sa više ljudi,
izgradite svijest o brendu, promovirate ponude, povećate i nagradite lojalnost kupaca, prikupite prodajne
leadove, istražite kupovne navike, promovirate offline aktivnosti, konvertujete bolje, da prodajete kroz
Facebook i/ili Instagram shop i dobijete više kupaca za manje novca od vaše konkurencije.</p>
      </div>
    <!--   <div class="col-lg-1 col-md-1 col-sm-12">
        <%= image_tag 'like2.png', :class => "emoji_services" %>
      </div> -->
    </div>
  </div>
</div>
<div class="section_6">
  <div class="container">
    <h1 class="sections_h2_6 serv_padd">Photo&Video<br>Content Production</h1>
    <div class="section_services_sections d-flex row align-items-end">
      <div class="col-lg-11 col-md-11 col-sm-12">
        <p class="section_tri_services_para_white" style="margin-top: 60px;">Kreativnost je najvažniji sastojak konverzije. Mi razvijamo vizualne elemente, osmišljavamo i
produciramo video materijale koji pokazuju najbolju stranu brendova, izdvajaju vas od konkurencije,
kreiraju emotivnu vezu s kupcima i potiču konverzije.</p>
 <button class="button_1_div" style="margin-top: 30px; "><%= image_tag 'strelica.png', :style => "width:30px;" %><%= link_to "Find more about video&photo works", "/careers", class: "button_1", style: "margin-top:20px;" %></button>
      </div>
      <!-- <div class="col-lg-1 col-md-1 col-sm-12">
        <%= image_tag 'camera2.png', :class => "emoji_services" %>
      </div> -->
    </div>
  </div>
</div>
<div class="section_7 ">
  <div class="container">
    <h1 class="sections_h2_7 serv_padd">Customer Acquisition<br>& Media Buying</h1>
    <div class="section_services_sections d-flex row align-items-end">
      <div class="col-lg-11 col-md-11 col-sm-12">
        <p class="section_tri_services_para_white" style="margin-top: 60px;">Za svaki brend kreiramo jedinstvene, troškovno isplative i skalabilne digital marketing strategije na bazi
detaljnih analiza podataka koje prikupljamo iz više izvora (data companies, social media, Google
Analytics...). Medijske budžete investiramo pametnije od drugih kako bismo osigurali da vašu reklamu
vidi više ljudi, na pravom mjestu, u pravo vrijeme i sa najvećom stopom povrata (ROAS - Return On
Advertising Spend).
<br><br>
Decenijama komuniciramo s kupcima putem različitih reklamnih mreža i gradimo dobre odnose s
vlasnicima medija. U prvoj fazi oglašavanja vješto navigiramo između tradicionalnih medija, mreža
portala sa premium inventarima i pozicijama, društvenih mreža (Facebook, Instagram, TikTok,
YouTube), komunikacijskih platformi (WhatsApp, Messenger, Viber) i pretraživača (Google), kako
bismo brzo dosegli ciljnu skupinu, izgradili brand awareness, prikupili podatke i povećali broj
kvalitetnih posjeta ciljne skupine web stranici/web shopu. U drugoj fazi se baziramo na Repeating
Exposure kako bismo povećali engagement, generisali baze prodajnih leadova i zaključili prodaju po
najnižim cijenama konverzije.</p>
      </div>
      <!-- <div class="col-lg-1 col-md-1 col-sm-12">
        <%= image_tag 'filter2.png', :class => "emoji_services" %>
      </div> -->
    </div>
  </div>
</div>
<div class="section_8">
  <div class="container">
    <h1 class="sections_h2_8 serv_padd">Data<br>Analytics</h1>
    <div class="section_services_sections d-flex row align-items-end">
      <div class="col-lg-11 col-md-11 col-sm-12">
        <p class="section_tri_services_para_white" style="margin-top: 60px;">Vrijednost baza podataka i prodajnih leadova je neprocjenjiva. Svakodnevna analiza podatka u svim
fazama implementacije i razvoja kampanja je temelj performance based oglašavanja.</p>
<br><br>
        <ul class="ul_services">
          <strong style="font-family: 'Open Sans', sans-serif; font-weight: bold;">Analiza i vizualizacija podataka nam pomaže da:</strong>
          <li>prepoznamo kupovne i životne navike ciljne skupine,</li>
          <li>odredimo dodirne tačke i najbolje vrijeme za plasiranje oglasa,</li>
          <li>pratimo promjene u ponašanju,</li>
          <li>izmjerimo sentiment,</li>
          <li>pratimo stopu napuštanja web stranice/web shopa,</li>
          <li>kreiramo i unapređujemo prodajni lijevak,</li>
          <li>povećamo učinkovitost oglašavanja i smanjimo stopu konverzije za svaki oglas.</li>
        </ul>
      </div>
     <!--  <div class="col-lg-1 col-md-1 col-sm-12">
        <%= image_tag 'data2.png', :class => "emoji_services" %>
      </div> -->
    </div>
  </div>
</div>

<div class="section_9">
  <div class="container">
    <h1 class="sections_h2_9 serv_padd">Google<br>Advertising</h1>
    <div class="section_services_sections d-flex row align-items-end">
      <div class="col-lg-11 col-md-11 col-sm-12">
        <p class="section_tri_services_para_white" style="margin-top: 60px;">Uz pomoć Google Search oglasa i zakupa ključnih riječi kupci vide vašu web stranicu na prvoj stranici
rezultata pretrage (rangiranje na prve tri pozicije je ultimativni cilj). Učinkovitost i cijena direktno oviseod
kvalitete SEO (Search Engine Optimisation) web stranice, socialmedia integracije kao i od ključnih riječi
koje oglašivač ili agencija zakupe. Oglašivač plaća isključivo; 1. klikove na zakupljene riječi i linkove koji
vode na odabrani landing page, 2. kada kupci kontaktiraju oglašivača.
<br><br>
Google Display oglasi omogućavaju da dosegnemo i pokrijemo što veći procenat ciljne skupine display
oglašavanjem na mreži web portala ili kroz display oglase u aplikacijama na svim vrstama uređaja. Google
Display oglašavanje je učinkovito i nekoliko puta jeftinije od cijene premium oglašavanja na web
portalima. Pored toga Google pruža veće mogućnosti targetiranja ciljne skupine koja će vidjeti reklamu.
<br><br>
Google Remarketing omogućava da ponovo prikažemo oglase ljudima koji su već posjetili web stranicu i
napravili određene akcije na njoj. Na taj način možemo kreirati personalizirane i precizno targetirane
kampanje koje vode ka povećanju stope konverzije.kampanje koje vode ka povećanju stope konverzije..</p>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-12">

      </div>
    </div>
  </div>
</div>
<div class="section_9">
  <div class="container">
    <h1 class="sections_h2_9">Facebook & Instagram
<br>Advertising</h1>
    <div class="section_services_sections d-flex row align-items-end">
      <div class="col-lg-11 col-md-11 col-sm-12">
        <p class="section_tri_services_para_white" style="margin-top: 60px;">Facebook oglašavanje omogućava da definiramo i (re)targetiramopreferiranu publiku kako bismo ostvarili
zacrtane ciljeve, povećali prodaju i prikupili prodajne leadove. Facebook predstavlja idealan kanal za
oglašavanje putem kojeg možemo pronaći nove klijente, dobiti i zadržati njihovu pažnju te ostvariti
prodajne ciljeve. Prednosti Facebook oglašavanja</p>

<ul class="ul_services">
<li>Bolji angažman korisnika</li>
<li>Veći doseg i mogućnost dosega specifične publike</li>
<li>Mogućnosti (re)targetiranja (geotargetiranje, demografsko targetiranje, targetiranje prema interesima,
Facebook Pixel, custom audience, lookalike audience)</li>
</ul>
<br><br>
<p class="section_tri_services_para_white" >
INSTAGRAM OGLASI<br>
Popularnost Instagrama kontinuirano raste, a time i prilike za brendove koji svoj uticaj žele jačati kroz
Instagram oglašavanje ili Instagram prodaju. Kroz Instagram oglase (photo, video, carousel, stories),
privlačimo pažnju ciljne skupine, dijelimo svoju priču i emocije sa visoko angažiranom publikom,
povećavamo broj pratilaca i ostvarujemo zacrtane poslovne rezultate.
<br><br>
Administracija Facebook i Instagram naloga obuhvata</p>
<ul class="ul_services">
<li>Kreiranje i optimizacija stranica na Facebooku i Instagramu (ukoliko ih nemate)</li>
<li>Vođenje stranica i izrada mjesečnog plana objava u dogovoru sa klijentom</li>
<li>Kreiranje vizuala i sadržaja za nove objave na Facebook i Instagram stranicama</li>
<li>Komunikacija s pratiocima i fanovima</li>
<li>Mjesečni izvještaj i analiza ostvarenih rezultata</li>
</ul>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-12">

      </div>
    </div>
  </div>
</div>
<div class="section_9">
  <div class="container">
    <h1 class="sections_h2_9 ">YouTube
<br>Advertising</h1>
    <div class="section_services_sections d-flex row align-items-end">
      <div class="col-lg-11 col-md-11 col-sm-12">
        <p class="section_tri_services_para_white" style="margin-top: 60px;">YouTube omogućava precizno targetiranje i transparentno izvještavanje o realiziranim kampanjama.
Napredni alati oglašavanjanam pomažu da video oglasi ili video sadržaji imaju najveću stopu konverzije i
najnižu cijenu konverzije. Željenu publiku možemo odabrati na temelju dobi, spola, lokacije, interesa, a
plaćamo samo kad korisnik stupi u interakciju s oglasom ili kada pogleda video do kraja.</p>
      </div>
      <!-- <div class="col-lg-1 col-md-1 col-sm-12">
        <%= image_tag 'voice2.png', :class => "emoji_services" %>
      </div> -->
    </div>
  </div>
</div>




<%= render 'shared/footer-contact' %>




