<%= render 'shared/navbar_white' %>

<title>Take Over Social Media With Our Marketing Strategies </title>
<meta name="description" content="So, you want to generate more traffic using social media? Our strategies are based on detailed analysis and the vast experience that we have">

<div class="services-div-main">
  <div class="container">
    <div class="d-flex row align-items-center" style="vertical-align: top;">
      <div class="col-lg-6">
        <h1 class="services_h2_bigger u--zoomIn">So, your strategy doesn’t work and you want to generate more traffic to online store using social media?</h1>
        <p class="services_p2 u--zoomIn" style="padding-bottom: 20px;">Our strategies are based on detailed analyses of large amounts of data and vast experience.</p>
        <div class="u--zoomIn" style="line-height:40px;"><a class="button_cta_normal" href="/contacts">Call us now</a> for Social Media and Customer Support  strategy. </div>
      </div>
       <div class="cyber-col-web col-lg-6" >
        <div class="desktop-comm">
          <div class="d-flex row justify-content-center">
            <div class="col-lg-5 u--bounceIn" style="padding: 0; position:absolute; z-index: 1; left:0px; margin-top:-60px;">
              <%= image_tag "https://imagedelivery.net/kbdeQbZSIKXp-ZjvXBIJDQ/f6707a02-424d-45b7-ad53-41a51362aa00/public", class: "section_float_2" ,id: "video_animation" %>
            </div>
            <div class="col-lg-5 u--zoomIn" style="padding: 0; position:relative; z-index: 2;">
              <%= image_tag "https://imagedelivery.net/kbdeQbZSIKXp-ZjvXBIJDQ/d7510e7d-a73e-4c2f-e0e1-ff9b92055200/public", class: "" ,id: "video_animation" %>
            </div>
            <div class="col-lg-5 u--bounceIn" style="padding: 0; position:absolute; right:0; z-index: 3; margin-top:60px;">
              <%= image_tag "https://imagedelivery.net/kbdeQbZSIKXp-ZjvXBIJDQ/804595e7-48ac-4a5d-ce8c-33491b936d00/public", class: "section_float" ,id: "video_animation" %>
            </div>
          </div>
        </div>
        <div class="mob-comm" style="margin-top: 50px;">
          <%= image_tag "https://imagedelivery.net/kbdeQbZSIKXp-ZjvXBIJDQ/0b82d01e-d7e2-4446-63bc-a465aec6d700/public", class: "section_float" ,id: "video_animation" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="services-new" style="padding-top: 10px;">
  <div class="container">
    <div class="d-flex row align-items-center" style="vertical-align: top;">
      <div class="col-lg-12" style="padding-bottom: 50px;">
        <h2 class="services_p2 reveal"><strong>Sales have moved online, and social media is the most common place where customers first come into contact with a brand or advertisement. Our strategies are based on detailed analyses of large amounts of data and vast experience.</strong></h2>
          <p class="services_p2 reveal">
          <strong>COUPONS AND DISCOUNTS: </strong>42% of online shoppers expect regular discounts, sales promotions and coupons/vouchers with an additional discount as a loyalty reward. We integrate automated systems for creating coupons/vouchers that can only be used once.
          <br><br><strong>REVIEWS FROM OTHER CUSTOMERS:</strong> The credibility of the web store is proven by the ratings of satisfied customers, and more than 35% of online customers decide on a purchase based on ratings. We encourage customers to leave ratings, integrate credible quality rating systems like TrustPilot and highlight ratings in customer-verified locations.
          <br><br><strong>SOCIAL MEDIA INTEGRATION:</strong> 22% of online shoppers check comments on social networks. We advise clients on how to create content, regularly maintain profiles, and respond to inquiries, complaints and compliments
          <br><br><strong>LOYALTY PROGRAMS:</strong> 27% of online customers expect regular loyalty programs and receive points or discounts for activity. We create the best strategies and loyalty programs that will help you keep existing and get new customers.
          <br><br><strong>PROMOTIONS, SALES AND VOUCHERS:</strong> We carefully choose for you where to place ads/banners that encourage shopping. We create static and dynamic web banners that attract customers' attention
          <br><br><strong>SWEEPSTAKES/GIVEAWAYS:</strong> We advise, strategise and encourage customers to participate in prize-winning games to gather data on potential customers for future sales. We carefully choose where to place them on the webpage and create attractive HTML ads that properly promote the actions we carry out
          <br><br><strong>BLOG:</strong> Blogs are an essential tool for attracting the attention of potential and active customers and for SEO of webshops. We choose and propose topics, clearly define keywords that will integrate, and equip blogs with photos and video presentations
        </p>
          <h3 class="services_p2 reveal"><strong>Before launching your online store we will:</strong></h3>
          <h3 class="services_p2 reveal"><strong></strong></h3>
          <ul class="services_p2 reveal">
            <li>improve management of pages on social media (Facebook, Instagram, Linkedin, Google, TikTok, Twitter, YouTube...) and </li>
            <li>link social media communication with your website to improve SEO and be persuasive in the digital world.</li>
          </ul>
          <p class="services_p2 reveal">Well-designed social media strategy, content and community activities will ensure that: you connect with more people, build brand awareness, promote offers, increase and reward customer loyalty, collect sales leads, research buying habits, promote offline activities, convert better, sell through Facebook and Instagram shop and get more customers for less money than your competition.</p>
        <div class="reveal" style="line-height:40px;"><br><a class="button_cta_normal" href="/contacts">Send Us</a> the inquiry or idea about the web store you want to launch, and we will send you the offer or contact you ASAP.</div>
      </div>
    </div>
  </div>
</div>


<div class="work-catalog">
  <div class="container">
    <h2 class="heading_black_webs reveal" style="margin-bottom: 50px; margin-top: 60px;">Check out some of our social media works:</h2>
    <div class="d-flex row justify-content-center reveal">
      <div class="col-lg-2 col-md-3 col-sm-2" >
        <a href="https://mita.agency/stories/we-increased-number-of-sales-leads-by-33" target="_blank" class="link_to">
        <%= image_tag "https://imagedelivery.net/kbdeQbZSIKXp-ZjvXBIJDQ/dce21e06-10f0-42fa-c458-5b6888cf3200/public", class: "our-work-picture" %>
        </a>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-2">
        <a href="https://mita.agency/stories/meeting-sales-objectives-using-digital-adveertising" target="_blank" class="link_to">
        <%= image_tag "https://imagedelivery.net/kbdeQbZSIKXp-ZjvXBIJDQ/8674a250-7d8e-44b3-d514-355c9ec93100/public", class: "our-work-picture" %>
        </a>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-2">
        <a href="https://mita.agency/stories/we-increased-number-of-sales-leads-by-33" target="_blank" class="link_to">
        <%= image_tag "https://imagedelivery.net/kbdeQbZSIKXp-ZjvXBIJDQ/188a51c6-e1c7-49fb-18e3-c54589bed600/public", class: "our-work-picture" %>
        </a>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-2">
        <a href="https://mita.agency/stories/25k-sales-leads-generated-in-banking" target="_blank" class="link_to">
        <%= image_tag "https://imagedelivery.net/kbdeQbZSIKXp-ZjvXBIJDQ/c2f31be1-fb75-4a59-5873-3a38b11b6b00/public", class: "our-work-picture" %>
        </a>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-2">
        <a href="https://mita.agency/stories/we-launched-the-mobello-web-shop-for-the-german-market-b8c96958-4b2c-4f76-a345-233e06167b35" target="_blank" class="link_to">
        <%= image_tag "https://imagedelivery.net/kbdeQbZSIKXp-ZjvXBIJDQ/fc6dddb4-8e1c-4661-5a6f-d71cf0e6f700/public", class: "our-work-picture" %>
        </a>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-2">
        <a href="https://mita.agency/stories/13x-more-registrations-to-e-wallet" target="_blank" class="link_to">
        <%= image_tag "https://imagedelivery.net/kbdeQbZSIKXp-ZjvXBIJDQ/99fe3325-ec4c-44a6-dc9b-8c6169cc3100/public", class: "our-work-picture" %>
        </a>
      </div>
    </div>
  </div>
</div>

