


<div class="section_2">
  <div class="container">
    <h1 class="home_heading_black box animate fadeInUp">Helping brands drive more sales</h1>
    <p class="section_tri_para box animate fadeInUp" style="margin-top: 60px;">Kreirali smo i realizirali desetine hiljada reklamnih kampanja za različite vrste biznisa od 1997. godine do danas. Od prvog dana analiziramo ponašanja kupaca, pratimo njihove navike, koje vrste oglasa, u koje vrijeme i i na kojem mjestu je najbolje plasirati. Na taj način osiguravamo maksimalnu učinkovitost oglašavanja, uspješno kreiranje baza prodajnih leadova, akviziciju novih kupaca i povećanje prodaje.</p>
  </div>
</div>
<div class="section_12">
  <div class="container">
    <div class="text_featured">
      <h1 class="home_heading_black_small box animate fadeInUp">Featured stories</h1>
    </div>
    <div class="section_12_row d-flex row justify-content-around">
        <div class="section_12_row_klijent col-lg-4 col-md-6 col-sm-12">
          <%= image_tag 'slika_tm.png',:class => "slika_tm", :style => "", alt: "MitaGroup ultramarinos" %>
          <p class="ime">25k+ sales leads<br>
generated in banking</p>
        </div>
      <div class="section_12_row_klijent col-lg-4 col-md-6 col-sm-12">
        <%= image_tag 'slika_tm.png', :class => "slika_tm",:style => "", alt: "Mita group mobello" %>
        <p class="ime">Neki podatak koji<br>
možemo izvući iz izvještaja</p>
      </div>
      <div class="section_12_row_klijent col-lg-4 col-md-6 col-sm-12">
        <%= image_tag 'slika_tm.png', :class => "slika_tm", :style => "", alt: "Mita group sparkasse" %>
        <p class="ime">13x more registrations<br>
to e-wallet</p>
      </div>
    </div>
  </div>
</div>
<div class="section_2">
  <div class="container">
    <h1 class="home_heading_black" style="padding-bottom: 50px;">All stories</h1>
      <div class="row_section_2 d-flex justify-content-center">
         <div class="section_12_row d-flex row justify-content-around">
          <div class="section_12_row_klijent col-lg-6 col-md-6 col-sm-12">
            <%= image_tag 'slika_tm.png',:class => "slika_tm_2", :style => "" %>
            <p class="role_2">Naziv projekta</p>
            <p class="ime_2">Brendiranje kao<br>
konkurentska prednost</p>
          </div>
        <div class="section_12_row_klijent col-lg-6 col-md-6 col-sm-12">
          <%= image_tag 'slika_tm.png', :class => "slika_tm_2", :style => "" %>
          <p class="role_2">Naziv projekta</p>
          <p class="ime_2">3.4x increase<br>
in sales on social media</p>
        </div>
      </div>
    </div>
    <div class="row_section_2 d-flex justify-content-center">
         <div class="section_12_row d-flex row justify-content-around">
          <div class="section_12_row_klijent col-lg-6 col-md-6 col-sm-12">
            <%= image_tag 'slika_tm.png',:class => "slika_tm_2", :style => "" %>
            <p class="role_2">Naziv projekta</p>
            <p class="ime_2">Brendiranje kao<br>
konkurentska prednost</p>
          </div>
        <div class="section_12_row_klijent col-lg-6 col-md-6 col-sm-12">
          <%= image_tag 'slika_tm.png', :class => "slika_tm_2", :style => "" %>
          <p class="role_2">Naziv projekta</p>
          <p class="ime_2">3.4x increase<br>
in sales on social media</p>
        </div>
      </div>
    </div>

    <div id="hide_section_row_2">
      <div class="row_section_2 d-flex justify-content-center">
        <div class="section_12_row d-flex row justify-content-around">
          <div class="section_12_row_klijent col-lg-6 col-md-6 col-sm-12">
            <%= image_tag 'slika_tm.png',:class => "slika_tm_2", :style => "" %>
            <p class="role_2">Naziv projekta</p>
            <p class="ime_2">Brendiranje kao<br>
konkurentska prednost</p>
          </div>
        <div class="section_12_row_klijent col-lg-6 col-md-6 col-sm-12">
          <%= image_tag 'slika_tm.png', :class => "slika_tm_2", :style => "" %>
          <p class="role_2">Naziv projekta</p>
          <p class="ime_2">3.4x increase<br>
in sales on social media</p>
        </div>
      </div>
    </div>
    <div class="row_section_2 d-flex justify-content-center">
         <div class="section_12_row d-flex row justify-content-around">
          <div class="section_12_row_klijent col-lg-6 col-md-6 col-sm-12">
            <%= image_tag 'slika_tm.png',:class => "slika_tm_2", :style => "" %>
            <p class="role_2">Naziv projekta</p>
            <p class="ime_2">Brendiranje kao<br>
  konkurentska prednost</p>
          </div>
          <div class="section_12_row_klijent col-lg-6 col-md-6 col-sm-12">
            <%= image_tag 'slika_tm.png', :class => "slika_tm_2", :style => "" %>
            <p class="role_2">Naziv projekta</p>
            <p class="ime_2">3.4x increase<br>
  in sales on social media</p>
          </div>
        </div>
      </div>
    </div>
<!--
<div class="d-flex justify-content-center">
  <button id="button_show_div_2" style="margin-bottom:50px;" onclick="myFunction()"><%= image_tag 'krugstrela.png',:class => "", :style => "width:25px; margin-right:10px;" %>Load more</button>
</div>
  <script>
  function myFunction() {
    var x = document.getElementById("hide_section_row_2");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
  </script>

  </div>
</div> -->

<div class="section_3">
  <div class="container">
    <h1 class="home_heading_second" style="padding-bottom:40px;">We won many<br> awards for what<br>we do because...</h1>
    <div class="section_stories_3_row d-flex row justify-content-between">
      <div class="section_3_row col-lg-3">
        <h2 class="blue_row_3">1. We are<br>
always<br>
learning</h2>
        <p class="section_3_p_blue">
          We are constantly changing,
learning new skills, perfecting
existing ones and testing the
new ways of advertising in
order to remain the best
partner for achieving the
objectives of our clients.
        </p>
      </div>
      <div class="section_3_row col-lg-3">
        <h2 class="blue_row_3">2. We make<br>
decisions<br>
based on data</h2>
        <p class="section_3_p_blue">
          We are constantly changing,
learning new skills, perfecting
existing ones and testing the
new ways of advertising in
order to remain the best
partner for achieving the
objectives of our clients.
        </p>
      </div>
      <div class="section_3_row col-lg-3">
        <h2 class="blue_row_3">3. We use a<br>
methodological<br>
approach</h2>
        <p class="section_3_p_blue">
          A holistic approach to media,
creativity and technology is
the winning methodology for
performance based
advertising.
        </p>
      </div>

    </div>

    <button class="button_1_div" style="margin-top: 30px; "><%= image_tag 'strelica.png', :style => "width:30px;" %><%= link_to "Learn more", "/ecommerce", class: "button_1", style: "margin-top:20px;", alt: "arrow" %></button>
  </div>
</div>



<%= render 'shared/footer-contact' %>

