<%= render 'shared/navbarmobile' %>
<%= render 'shared/navbar_white_services' %>

<% title 'Stand Out With Our Premium Web Design Service!' %>
<% description 'We are the leading web design service in providing creative solutions. Want to stand out? Take a look at our works and let us do the same for you.' %>
<% keywords 'web design service' %>

<div class="services-div-main">
  <div class="container">
    <div class="d-flex row align-items-center" style="vertical-align: top;">
      <div class="col-lg-6">
        <h1 class="services_h2_bigger u--zoomIn">So, you need to design a beautiful online store that drives sales. </h1>
        <p class="services_p2 u--zoomIn" style="padding-bottom: 20px;">A beautiful and fast optimised website communicates directly with your customers, providing them with all of the vital information about the products your business offers.</p>
        <div class="u--zoomIn"><a class="button_cta_normal" href="/contacts">Tell us more</a></div>
      </div>
      <div class="cyber-col-web col-lg-6" >
        <div class="d-flex row justify-content-center">
          <div class=" col-lg-12" style="padding: 0; position:relative; float:right;right:0;">
            <%= image_tag "https://i.postimg.cc/L4gbWj87/laptop-cc.png", class: "u--zoomIn" ,id: "video_animation", alt: "eCommerce web design" %>
          </div>
          <div class="u--zoomIn col-lg-6" style="padding-left: 0;padding-top: 70px; position:absolute; left:0;">
            <%= image_tag "https://imagedelivery.net/kbdeQbZSIKXp-ZjvXBIJDQ/98cfb3dd-e810-4caa-4985-330da7c26d00/public", class: "section_float_2" ,id: "video_animation_mobile", alt: "eCommerce Mobile web design" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="services-new" style="padding-top: 0px;">
  <div class="container">
    <div class="d-flex row align-items-center" style="vertical-align: top;">
      <div class="col-lg-12" style="padding-bottom: 50px;">
          <h2 class="services_p2 reveal"><strong>The layout of your webshop (UI) and the way that customers navigate through the page (UX) is a vital part of web page development. Before we start with design, we create a detailed wireframe.</strong></h2>
          <p class="services_p2 reveal">
          <strong>MOBILE FIRST: </strong>We optimise appearance, speed and experience according to customers' mobile phone use habits. Big letters, great photos, video, navigation.
          <br><br><strong>DESIGN: </strong>We create attractive web pages without unnecessary elements that distract attention from products, sales promotions and sales messages for no reason.
          <br><br><strong>PRESENTATION: </strong>We consider what customers see first when they visit the website. We focus on the most sought-after and best-selling products, recommend complementary products, and combine 3D renderings and product photos with video presentations.
          <br><br><strong>PRODUCT DESCRIPTION: </strong>We highlight essential product information in the way potential customers expect. We treat dimensions, weights, quality and dedication to ecology especially. In addition, we equip all descriptions with high-quality photos, 3D renderings and detailed video presentations.</p>
          <p class="services_p2 u--zoomIn">
          In the beginning, we will learn more about your business and website requirements, take desktop research, recommend the WooCommerce theme, and create the quote. Once you are happy with the proposal and the quote, we will start working on your project and keep you updated every step of the way. We will focus on great design, highlighting your products, optimising your store and single product pages, and simplifying the checkout process.</p>
<div class="container" style="position: relative; padding-top: 56.25%; margin:40px 0;"><iframe src="https://customer-iifeqvttd8luvzt8.cloudflarestream.com/7d86e6c1863959c108d8d881ac88c45a/iframe?poster=https%3A%2F%2Fcustomer-iifeqvttd8luvzt8.cloudflarestream.com%2F7d86e6c1863959c108d8d881ac88c45a%2Fthumbnails%2Fthumbnail.jpg%3Ftime%3D%26height%3D600" style="border: none; position: absolute; top: 0; left: 0; height: 100%; width: 100%;" allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;" allowfullscreen="true" title="Mita Group: Web design"></iframe></div>
          <h2 class="services_p2 reveal"><strong>We build fantastic eCommerce websites and include many functionalities in every online store. Your webshop will be:</strong></h2>
          <ul class="services_p2 reveal">
            <li>Fast and responsive and on all devices.</li>
            <li>Beautifully designed and optimised for conversions.</li>
            <li>SEO optimised to be ranked higher on Google</li>
          </ul>
          <h3 class="services_p2 reveal"><strong>We will also integrate:</strong></h3>
          <ul class="services_p2 reveal">
            <li>Google Analytics to track all changes and analytics in real time.</li>
            <li>Google Tag Manager installed & configured. With this functionality, you can track conversions and find out which marketing channels bring you the most results.</li>
            <li>Facebook pixel installation to track advertising performance.</li>
            <li>Selecting and advice on shipping providers, terms and rates setup & configuration. 53% of online customers expect free and fast delivery (within 24 hours). We will create an automated delivery system. Everything after the purchase will run smoothly without the extensive involvement of human labour.</li>
            <li>PayPal, Stripe, Klarna, WooCommerce, Direct or any other payment integration setup.</li>
            <li>Automated abandoned checkout emails to recover sales and bring customers back.</li>
            <li>Entry forms and CTA buttons to collect emails from subscribers.</li>
            <li>Secure & automated daily backups for peace of mind.</li>
            <li>Fast, helpful customers support.</li>
            <li>Order management and product uploading training.</li>
            <li>Advise on Privacy and Cookie Policies according to GDPR law.</li>
            <li>Advice on Easy Return Policy: 33% of online customers decide about a purchase based on the possibility of simply returning the product if unsatisfied. We will create a system for you that merely works and does not require a large workforce.</li>
          </ul>
<div class="container" style="position: relative; padding-top: 56.25%; margin:50px 0;"><iframe src="https://customer-iifeqvttd8luvzt8.cloudflarestream.com/6ea63e8df7b8bd380ddcae021e3f1cd0/iframe?poster=https%3A%2F%2Fcustomer-iifeqvttd8luvzt8.cloudflarestream.com%2F6ea63e8df7b8bd380ddcae021e3f1cd0%2Fthumbnails%2Fthumbnail.jpg%3Ftime%3D%26height%3D600" style="border: none; position: absolute; top: 0; left: 0; height: 100%; width: 100%;" allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;" allowfullscreen="true" title="MITA Group: Web Development" ></iframe></div>
          <p class="services_p2 reveal"><strong>If you need more, just tell us, and we will deliver tens of different functionalities that will grow your business fast.</strong></p>
        <div class="reveal services_p2" style="line-height:40px;"><br><a class="button_cta_normal" href="/contacts">Send Us</a> the inquiry or idea about the web store you want to launch, and we will send you the offer or contact you ASAP.</div>
      </div>
    </div>
  </div>
</div>

<div class="work-catalog">
  <div class="container">
    <h2 class="heading_black_webs reveal" style="margin-bottom: 50px; margin-top: 60px;">Check out some of our web design works:</h2>
    <div class="d-flex row justify-content-center reveal">
      <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
        <a href="https://www.bonjourartisanfood.com/" target="_blank" class="link_to">
        <%= image_tag "https://imagedelivery.net/kbdeQbZSIKXp-ZjvXBIJDQ/8ba7645c-21b2-4555-1ea4-226fe5b34100/public", class: "our-work-picture", alt: "Bonjour mobile webdesign" %>
        </a>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
        <a href="" target="_blank" class="link_to">
        <%= image_tag "https://imagedelivery.net/kbdeQbZSIKXp-ZjvXBIJDQ/ae85a74c-6143-4e0e-ede5-9fd450210d00/public", class: "our-work-picture", alt: "Prties for Me mobile webdesign" %>
        </a>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-4">
        <a href=" https://kviko.ba/" target="_blank" class="link_to">
        <%= image_tag "https://imagedelivery.net/kbdeQbZSIKXp-ZjvXBIJDQ/bf7728d1-c105-4aec-aa0f-12faa2b42c00/public", class: "our-work-picture", alt: "Kviko mobile webdesign" %>
        </a>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-4">
        <a href="https://nagradnaigra.podravka.ba/" target="_blank" class="link_to">
        <%= image_tag "https://imagedelivery.net/kbdeQbZSIKXp-ZjvXBIJDQ/66e0c852-68bf-452f-6952-7e74fdb9f600/public", class: "our-work-picture", alt: "Podravka mobile webdesign" %>
        </a>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-4">
        <a href="https://kulin.ba/" target="_blank" class="link_to">
        <%= image_tag "https://imagedelivery.net/kbdeQbZSIKXp-ZjvXBIJDQ/3c80a55d-e821-4bf8-4a7d-f73bb37c5500/public", class: "our-work-picture", alt: "Kulin mobile webdesign" %>
        </a>
      </div>
    </div>
  </div>
</div>

