<%= render 'shared/navbar_white_contact' %>

<%= form_with(model: contact) do |form| %>
<div class="section_2" style="padding-bottom: 10px; padding-top: 80px;">
  <div class="container" style="padding-bottom: 200px;">
    <h1 class="home_heading_black box animate fadeInUp">Get in<br>touch with us</h1>
    <p class="section_tri_para box animate fadeInUp" style="margin-top: 45px; padding-bottom: 100px;">You can reach out to us in several ways if you are interested in our services. The easiest way is to complete the below given form and provide us with most of the information we need to create an offer for you.</p>

     <h1 class="home_heading_black_small box animate fadeInUp" style="padding-top: 0px;">Contact Form</h1>
          <div class="container d-flex row justify-content-between">
             <%= form.text_field :text_field, class:"form-control form_input_control mb-1", placeholder:"Name", style: "width: 51%" %>

                <%= form.text_field :surname, class:"form-control form_input_control mb-1", placeholder:"Surname", style: "width: 46%"  %>

          </div>
              <%= form.text_field :business, class: "form-control form_input_control_2 mb-1", placeholder: "Business Name"  %>

           <%= form.text_field :email, class: "form-control form_input_control_2 mb-1", placeholder: "Email"   %>

          <input name="website" type="website" class="form-control form_input_control_2 mb-1" placeholder="Website URL">
          <textarea name="message" class="form-control form_input_control_2" placeholder="Your message"></textarea>
          <input name="budget" type="budget" class="form-control form_input_control_2 mb-1" placeholder="Any budget limitation?">
          <button type="submit" class="form_button">GO!</button>

  </div>
</div>
<div class="section_career_red ">
  <div class="container" style="padding-bottom: 40px; ">
    <h1 class="contact_heading  reveal" style="padding-top: -50px; padding-bottom:50px;">If you prefer<br> traditional methods...</h1>
    <div class="container" style="padding-left: 15px; padding-right: 15px;">
    <div class="carer_picture_text d-flex row align-items-center reveal">
      <div class="mobb col-lg-4 d-flex row align-items-center" style="padding-bottom: 30px;">
        <div class="carer_picture">
          <%= image_tag 'con2.png',:class => "slika_contact", :style => "" %>
        </div>
        <div class="text_carer">
          <p class="contact_para">00387-33-278500</p>
        </div>
      </div>
      <div class="mobb_2 col-lg-4 d-flex row align-items-center" style="padding-bottom: 30px;">
        <div class="carer_picture">
          <%= image_tag 'con1.png',:class => "slika_contact", :style => "" %>
        </div>
        <div class="text_carer">
          <p class="contact_para">info@mita.agency</p>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>




  <div class="form-inputs">

    <%= form.text_field :website %>
    <%= form.text_field :message %>
  </div>

  <div class="form-actions">
    <%= form.button :submit %>
  </div>
<% end %>

