<%= title 'Contact: Get in Touch with MITA Group!' %>
<% description 'MITA Group contact form: the easiest way to reach out to us and change your business for the better! Get in touch with us today!' %>
<% keywords 'Contact' %>







<%= render 'shared/navbar_white_contact' %>

<%= form_with(model: contact) do |form| %>
<div class="section_2" style="padding-bottom: 10px; padding-top: 80px;">
  <div class="container" style="padding-bottom: 200px;">
    <h1 class="home_heading_black box animate fadeInUp">Get in touch with us</h1>
    <p class="section_tri_para box animate fadeInUp" style="margin-top: 45px; padding-bottom: 100px;">
You can reach out to us in several ways if you are interested in our services. The easiest way is to complete the below given form and provide us with most of the information we need to create an offer for you.
<br><br>Just send us your questions or concerns by starting a new case and we will give you the help you need.</p>
     <h2 class="home_heading_black_small box animate fadeInUp" style="padding-top: 0px;">Contact Form</h2>
          <div class="container d-flex row justify-content-between">
             <%= form.text_field :name, class:"form-control form_input_control mb-1", placeholder:"Name", style: "width: 51%" %>

                <%= form.text_field :surname, class:"form-control form_input_control mb-1", placeholder:"Surname", style: "width: 46%"  %>

          </div>
              <%= form.text_field :business, class: "form-control form_input_control_2 mb-1", placeholder: "Business Name"  %>

           <%= form.text_field :email, class: "form-control form_input_control_2 mb-1", placeholder: "Email" %>

           <%= form.text_field :website, class: "form-control form_input_control_2 mb-1", placeholder: "Website URL" %>

           <%= form.text_area :message, class: "form-control form_input_control_2 mb-1", placeholder: "Your message" %>


          <%= form.text_area :budget, class: "form-control form_input_control_2 mb-1", placeholder: "Any budget limitation?" %>
    <%= recaptcha_tags  %>



   <%= form.check_box :termsofuse %>
   <%= form.label :termsofuse  do 
      "I agree to #{link_to('Terms & Conditions', '/terms')}".html_safe


      end %>

              <%= form.submit "SEND", class: "form_button btn-block" , style: "float: left" %>


  </div>
</div>

<div class="section_career_red ">
  <div class="container" style="padding-bottom: 40px; ">
    <h2 class="contact_heading  reveal" style="padding-top: -50px; padding-bottom:50px;">If you prefer<br> traditional methods...</h2>
    <p class="section_tri_para reveal" style="color:#fff;"> Here's where you can find information about our officers, our address, e-mail address and our phone number. Do not hesitate. Contact us, we look forward to hearing from you!
<br><br>
We are a group of multi-skilled individuals who are entrepreneurial by nature and live to make digital products and services that people love to use.
<br><br>We help brands drive more sales since 1997. Share your vision with us, and we will develop strategy, create content, code a web store, and generate sales using the best PPC advertising strategies and channels. <br><br>We started as a small traditional marketing agency back in 1997. Since then, we have adapted to evolving technologies and entered the digital landscape. We have also gained a lot of experience and gathered 100 advertising professionals and four agencies under one roof. Over the past three decades, we have built impressive skills and become a reliable partner to hundreds of business owners.
</p>
    <div class="container" style="padding-left: 15px; padding-right: 15px;">
    <div class="carer_picture_text d-flex row align-items-center reveal">
      <div class="mobb col-lg-4 d-flex align-items-center" style="padding-bottom: 30px;">
        <div class="carer_picture">
          <%= image_tag 'con2.png',:class => "slika_contact", :style => "", alt: "telephone" %>
        </div>
        <div class="text_carer">
          <p class="contact_para">00387-33-278500</p>
        </div>
      </div>
      <div class="mobb_2 col-lg-4 d-flex align-items-center" style="padding-bottom: 30px;">
        <div class="carer_picture">
          <%= image_tag 'con1.png',:class => "slika_contact", :style => "", alt: "email" %>
        </div>
        <div class="text_carer">
          <p class="contact_para">info@mita.ba</p>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>





<% end %>

