<%= render 'shared/navbarmobile_home' %>

<%= form_with(model: contact) do |form| %>
<div class="section_2" style="padding-bottom: 10px; padding-top: 80px;">
  <div class="container" style="padding-bottom: 200px;">
   

             <%= form.text_field :name, class:"form-control form_input_control mb-1", placeholder:"Name" %>
              <%= form.text_field :business, class: "form-control form_input_control mb-1", placeholder: "Business Name"  %>

           <%= form.text_field :email, class: "form-control form_input_control mb-1", placeholder: "Email" %>

           <%= form.text_field :website, class: "form-control form_input_control mb-1", placeholder: "Website URL" %>

           <%= form.text_area :message, class: "form-control form_input_control mb-1", placeholder: "Your message" %>



              <%= form.submit "SEND", class: "form_button" %>


  </div>
</div>
<% end %>
