<div class="form_signup">
  <div class="container">
    <div class="form_signup1">
      <h1 style="padding-top:100px;">Make a story</h1>
      <%= simple_form_for @storie do |f| %>
        <%= f.input :name, required: true %>
        <%= f.input :description, required: true %>
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
        <%= f.input :first_header %>
        <%= f.input :first_description %>
        <%= f.input :second_header %>
        <%= f.input :second_description %>
        <%= f.input :first_number %>
        <%= f.input :first_number_text %>
        <%= f.input :second_number %>
        <%= f.input :second_number_text %>
        <%= f.input :third_number %>
        <%= f.input :third_number_text %>
        <%= f.input :fourth_number %>
        <%= f.input :fourth_number_text %>
        <%= f.input :fifth_number %>
        <%= f.input :fifth_number_text %>
        <%= f.input :six_number %>
        <%= f.input :six_number_text %>
        <%= f.input :third_header %>
        <%= f.input :third_description %>
        <%= f.input :fourth_header %>
        <%= f.input :fourth_description %>
        <%= f.input :link %>
        <%= f.submit :class => "button_1", value: "Update Story", :style => "border:0;" %>
        <%= link_to "Back", stories_path, :class => "button_sec", :style => "width:40%;" %>
      <% end %>
    </div>
  </div>
</div>


<%= render 'shared/footer-contact' %>


