<%= title 'MITA Group Blog: Creating Successful Stories Since 1997!' %>
<<<<<<< HEAD
<% description 'MITA Group created and implemented tens of thousands of advertising campaigns for various kinds of businesses since 1997. See in full detail on the MITA Group blog!' %>
<% keywords 'Mita group blog' %>
=======
<%= description 'MITA Group created and implemented tens of thousands of advertising campaigns for various kinds of businesses since 1997. See in full detail on the MITA Group blog!' %>
>>>>>>> ee8479c5bf2e44a517dd9781972300ccdfd35dad

<%= render 'shared/navbar_white_stories' %>


<div class="section_2" style="padding-top: 80px;">
  <div class="container">
    <h1 class="home_heading_black box animate fadeInUp">Helping brands drive more sales</h1>
    <p class="section_tri_para box animate fadeInUp" style="margin-top: 60px;">We have created and implemented tens of thousands of advertising campaigns for various kinds of businesses since 1997. From day one, we analyse consumer behaviour. We also analyse what kind of ads to run, and where and when to run them. That is how we achieve maximum efficiency, successfully create sale leads databases, acquire new customers, and increase sales.</p>
  </div>
</div>
<div class="section_12">
  <div class="container">
    <div class="text_featured">
      <h2 class="home_heading_black_small box animate fadeInUp">Featured stories</h2>
    </div>
    <div class="section_12_row d-flex row justify-content-around reveal">
        <div class="section_12_row_klijent col-lg-4 col-md-6 col-sm-12">
          <a href="stories/we-launched-a-web-shop-for-a-delicatessen-shop-in-switzerland" style="text-decoration: none;">
            <%= image_tag 'https://imagedelivery.net/kbdeQbZSIKXp-ZjvXBIJDQ/e4208113-e173-48c1-ada9-1c49d3893d00/public',:class => "slika_tm", :style => "" %>
            <p class="ime">Online store for <br>food in Zürich</p>
          </a>
        </div>
      <div class="section_12_row_klijent col-lg-4 col-md-6 col-sm-12">
        <a href="/stories/we-launched-the-mobello-web-shop-for-the-german-market" style="text-decoration: none;">
          <%= image_tag 'https://imagedelivery.net/kbdeQbZSIKXp-ZjvXBIJDQ/28ae7e51-4eef-429b-8583-abb5add69800/public', :class => "slika_tm", :style => "" %>
          <p class="ime">Brand name, visual identity <br>and online store for furniture<br>  brand in Germany</p>
        </a>
      </div>
      <div class="section_12_row_klijent col-lg-4 col-md-6 col-sm-12">
        <a href="stories/we-generated-25k-sales-leads-in-banking" style="text-decoration: none;">
          <%= image_tag 'https://imagedelivery.net/kbdeQbZSIKXp-ZjvXBIJDQ/3edbcd24-7214-4a30-5cf2-0f6c56b1ea00/public', :class => "slika_tm",:style => "object-fit:cover" %>
          <p class="ime">25k+ sales leads generated<br> in banking to e-wallet</p>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="section_2">
  <div class="container">
    <h2 class="home_heading_black  reveal" style="padding-bottom: 50px;">All stories</h2>

    <div class="section_12_row d-flex row justify-content-around reveal">
      <% @stories.each do |storie| %>
        <%= link_to story_path(storie), class: "card_link card_link_storie col-lg-5 col-md-5 col-sm-12" do %>
          <div class="section_12_row_klijent">
            <% if storie.photos.attached? %>
                <%= cl_image_tag storie.photos.first.key, :class => "slika_tm_2" %>
              <% end %>
            <p class="role_2"><%= storie.name %></p>
            <p class="ime_2"><%= storie.description %></p>
          </div>
        <% end %>
      <% end %>
    </div>


    <div id="hide_section_row_2">
      <div class="row_section_2 d-flex justify-content-center">
        <div class="section_12_row d-flex row justify-content-around">
          <div class="section_12_row_klijent col-lg-6 col-md-6 col-sm-12 reveal">
            <%= image_tag 'slika_tm.png',:class => "slika_tm_2", :style => "" %>
            <p class="role_2">Naziv projekta</p>
            <p class="ime_2">Brendiranje kao<br>
konkurentska prednost</p>
          </div>
        <div class="section_12_row_klijent col-lg-6 col-md-6 col-sm-12 reveal">
          <%= image_tag 'slika_tm.png', :class => "slika_tm_2", :style => "" %>
          <p class="role_2">Naziv projekta</p>
          <p class="ime_2">3.4x increase<br>
in sales on social media</p>
        </div>
      </div>
    </div>
    <div class="row_section_2 d-flex justify-content-center">
         <div class="section_12_row d-flex row justify-content-around">
          <div class="section_12_row_klijent col-lg-6 col-md-6 col-sm-12 reveal">
            <%= image_tag 'slika_tm.png',:class => "slika_tm_2", :style => "" %>
            <p class="role_2">Naziv projekta</p>
            <p class="ime_2">Brendiranje kao<br>
  konkurentska prednost</p>
          </div>
          <div class="section_12_row_klijent col-lg-6 col-md-6 col-sm-12 reveal">
            <%= image_tag 'slika_tm.png', :class => "slika_tm_2", :style => "" %>
            <p class="role_2">Naziv projekta</p>
            <p class="ime_2">3.4x increase<br>
  in sales on social media</p>
          </div>
        </div>
      </div>
    </div>

<!-- <div class="d-flex justify-content-center">
  <button id="button_show_div_2" style="margin-bottom:50px;" onclick="myFunction()"><%= image_tag 'krugstrela.png',:class => "", :style => "width:25px; margin-right:10px;" %>Load more</button>
</div>
  <script>
  function myFunction() {
    var x = document.getElementById("hide_section_row_2");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
  </script>
 -->
  </div>
</div>

<div class="section_3_s">
  <div class="container" style="padding:0 30px;">
    <h2 class="home_heading_second reveal" style="padding-bottom:40px;">We won many<br> awards for what<br>we do because...</h2>
    <div class="section_stories_3_row d-flex row justify-content-between">
      <div class="section_3_row col-lg-3 reveal">
        <h3 class="blue_row_3">1. We are<br>
always<br>
learning</h3>
        <p class="section_3_p_blue">
          We are constantly changing,
learning new skills, perfecting
existing ones and testing the
new ways of advertising in
order to remain the best
partner for achieving the
objectives of our clients.
        </p>
      </div>
      <div class="section_3_row col-lg-3 reveal">
        <h3 class="blue_row_3">2. We make<br>
decisions<br>
based on data</h3>
        <p class="section_3_p_blue">
        We do not listen to intuition and our emotions. We carefully analyse all campaigns and make decisions solely on the basis of detailed analysis.
        </p>
      </div>
      <div class="section_3_row col-lg-3 reveal">
        <h3 class="blue_row_3">3. We use a<br>
methodological<br>
approach</h3>
        <p class="section_3_p_blue">
          A holistic approach to media,
creativity and technology is
the winning methodology for
performance based
advertising.
        </p>
      </div>

    </div>

    <div class="d-flex justify-content-center reveal">

    <a class="button_1_div  inline-block d-flex row align-items-center justify-content-center box animate fadeInUp" href="/services" style="text-decoration: none; margin-top: 30px; width: 400px;  padding-left:0px;" >

        <div>
          <%= image_tag 'strelica.png', :style => "width:30px; margin-right:10px;" %>
        </div>
        <div>
          Learn more
        </div>

    </a>
    </div>

  </div>
</div>



<%= render 'shared/footer-contact' %>





