<div class="section_1_stories">
  <div class="container">
    <h1 class="home_heading"><%= @storie.first_header %></h1>
    <p class="home_para" style="padding-top: 50px;"><%= @storie.first_description %></p>
  </div>
</div>
<div class="section_2" style="padding-bottom: 10px;">
  <div class="container">
    <h1 class="home_heading_black" style="padding-top: 80px;"><%= @storie.second_header %></h1>
  </div>
</div>

<div class="section_2" style="background-color: #F1F2F2; ">
  <div class="container">
    <p class="section_tri_para" style="padding-top: 40px;"><%= @storie.second_description %></p>
    <div class="section_tri d-flex row" style="padding-top: 100px; padding-bottom: 40px;">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <span class="dot2"></span>
        <div class="section_tri_text">
          <h2 class="section_tri_header"><%= @storie.first_number %></h2>
          <p class="section_tri_para"><%= @storie.first_number_text %></p>
        </div>
      </div>
      <div class="col-padd col-lg-4 col-md-4 col-sm-12">
        <span class="dot2"></span>
        <div class="section_tri_text">
          <h2 class="section_tri_header"><%= @storie.second_number %></h2>
          <p class="section_tri_para"><%= @storie.second_number_text %></p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <span class="dot2"></span>
        <div class="section_tri_text">
          <h2 class="section_tri_header"><%= @storie.third_number %></h2>
          <p class="section_tri_para"><%= @storie.third_number_text %></p>
        </div>
      </div>
  </div>
  <div class="section_tri d-flex row" style=" padding-bottom: 60px;">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <span class="dot2"></span>
        <div class="section_tri_text">
          <h2 class="section_tri_header"><%= @storie.fourth_number %></h2>
          <p class="section_tri_para"><%= @storie.fourth_number_text %></p>
        </div>
      </div>
      <div class="col-padd col-lg-4 col-md-4 col-sm-12">
        <span class="dot2"></span>
        <div class="section_tri_text">
          <h2 class="section_tri_header"><%= @storie.fifth_number %></h2>
          <p class="section_tri_para"><%= @storie.fifth_number_text %></p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <span class="dot2"></span>
        <div class="section_tri_text">
          <h2 class="section_tri_header"><%= @storie.six_number %></h2>
          <p class="section_tri_para"><%= @storie.six_number_text %></p>
        </div>
      </div>
  </div>
</div>
</div>

<div class="section_2" style="padding-bottom: 10px; ">
  <div class="container">
    <h1 class="home_heading_black" style="padding-top: 80px;"><%= @storie.third_header %></h1>
    <p class="section_tri_para" style="padding-top: 40px;"><%= @storie.third_description %></p>
  </div>
</div>

<div class="section_1_stories" style="margin-top:50px; padding-top: 40px;">
  <div class="container">
    <h1 style="color: white; text-align: center; border: 1px solid white; ">Ovdje idu slike</h1>
    <% @storie.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
  </div>
</div>

<div class="section_2" style="padding-bottom: 10px;">
  <div class="container">
    <h1 class="home_heading_black" style="padding-top: 80px;"><%= @storie.fourth_header %></h1>
    <p class="section_tri_para" style="padding-top: 40px; padding-bottom: 20px;"><%= @storie.fourth_description %></p>
    <h1 style="text-align: center; border: 1px solid black;">VIDEO</h1>
  </div>
</div>
