<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @checklist.email %>
</p>

<p>
  <strong>Number:</strong>
  <%= @checklist.number %>
</p>

<%= link_to 'Edit', edit_checklist_path(@checklist) %> |
<%= link_to 'Back', checklists_path %>
