<!DOCTYPE html>
<html>
  <head>
   <script async src="https://www.googletagmanager.com/gtag/js?id=G-VYG8TK4KE0"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-VYG8TK4KE0');
    </script>
    <%
=begin%>
 <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag %>
    <title><%= meta_title %></title>
   "> 
<%
=end%>
  <%= csrf_meta_tags %>
  <%= display_meta_tags  %>



 
    <!-- Global site tag (gtag.js) - Google Analytics -->
   


    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WBNSH4K');</script>
<!-- End Google Tag Manager -->

<!-- Hotjar Tracking Code for https://mita.agency/ -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:3099731,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>


    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:title" content="<%= meta_title %>">
    <meta name="twitter:description" content="<%= meta_description %>">
    <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:image:src" content="<%= meta_image %>">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%
=begin%>
 <link href="https://fonts.googleapis.com/css?family=Cardo:400,700|Oswald" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i&display=swap" rel="stylesheet"> 
<%
=end%>

    <%
=begin%>
 <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css"> 
<%
=end%>
    <%
=begin%>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css"> 
<%
=end%>
    <!--     <link rel="stylesheet" href="css/style.css"> -->
    <!-- the 2 lines below is needed -->
    <%
=begin%>
 <link href="fcf-assets/css/fcf.default.css" rel="stylesheet">
    <link href="fcf-assets/css/fcf.default-custom.css" rel="stylesheet"> 
<%
=end%>

    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

  



  </head>


  <body>
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WBNSH4K"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


    <%= render 'shared/navbarmobile' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= render 'shared/footer' %>
    <% if cookies[:allow_cookies].blank? %>
      <%= render 'layouts/cookies_bar' %>
    <% end %>


    <script type="text/javascript">
     window.addEventListener('scroll', reveal);

     function reveal(){
      var reveals = document.querySelectorAll('.reveal');

      for(var i = 0; i < reveals.length; i++){

        var windowheight = window.innerHeight;
        var revealtop = reveals[i].getBoundingClientRect().top;
        var revealpoint = -150;

        if(revealtop < windowheight - revealpoint){
          reveals[i].classList.add('active');
        }
        else{
          reveals[i].classList.remove('active');
        }
      }
     }
    </script>

    <script type="text/javascript">
     window.addEventListener('scroll', reveal_2);

     function reveal_2(){
      var reveals = document.querySelectorAll('.reveal_2');

      for(var i = 0; i < reveals.length; i++){

        var windowheight = window.innerHeight;
        var reveal_2top = reveals[i].getBoundingClientRect().top;
        var reveal_2point = -150;

        if(reveal_2top < windowheight - reveal_2point){
          reveals[i].classList.add('active');
        }
        else{
          reveals[i].classList.remove('active');
        }
      }
     }
    </script>

    <script type="text/javascript">
     window.addEventListener('scroll', reveal_3);

     function reveal_3(){
      var reveals = document.querySelectorAll('.reveal_3');

      for(var i = 0; i < reveals.length; i++){

        var windowheight = window.innerHeight;
        var reveal_3top = reveals[i].getBoundingClientRect().top;
        var reveal_3point = -150;

        if(reveal_3top < windowheight - reveal_3point){
          reveals[i].classList.add('active');
        }
        else{
          reveals[i].classList.remove('active');
        }
      }
     }
    </script>

  </body>
</html>
